In [14]:
import sqlalchemy as alchemy
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Date, Float, BigInteger
import matplotlib.pyplot as plt
import pandas as pd 
import os

%matplotlib inline

# Conexion con la base de datos tp3

In [15]:
NOMBRE_DB = 'tp3_inmobiliaria'
USUARIO_DB = os.environ.get('USUARIO_DB', 'postgres') #'gaston'
PASSWORD_DB = os.environ.get('PASSWORD_DB', 'postgres') #'gastonm1'
HOST_DB=os.environ.get('HOST_DB','localhost')
PORT_DB = os.environ.get('PORT_DB', 5432)

url_db = 'postgresql+psycopg2://%s:%s@%s:%d/'%(USUARIO_DB, PASSWORD_DB, HOST_DB, int(PORT_DB))
 
engine = alchemy.create_engine(url_db, echo=True)
try:
    conn = engine.connect()
    conn.execute("commit")
    conn.execute("create database " + NOMBRE_DB)
    conn.close()
except Exception as e:
    print str(e)
url_db = 'postgresql+psycopg2://%s:%s@%s:%d/%s'%(USUARIO_DB, PASSWORD_DB, HOST_DB, int(PORT_DB), NOMBRE_DB)

engine = alchemy.create_engine(url_db, echo=True)

2017-10-08 01:28:51,113 INFO sqlalchemy.engine.base.Engine select version()
2017-10-08 01:28:51,115 INFO sqlalchemy.engine.base.Engine {}
2017-10-08 01:28:51,118 INFO sqlalchemy.engine.base.Engine select current_schema()
2017-10-08 01:28:51,120 INFO sqlalchemy.engine.base.Engine {}
2017-10-08 01:28:51,123 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2017-10-08 01:28:51,125 INFO sqlalchemy.engine.base.Engine {}
2017-10-08 01:28:51,127 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2017-10-08 01:28:51,130 INFO sqlalchemy.engine.base.Engine {}
2017-10-08 01:28:51,137 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2017-10-08 01:28:51,144 INFO sqlalchemy.engine.base.Engine {}
2017-10-08 01:28:51,146 INFO sqlalchemy.engine.base.Engine commit
2017-10-08 01:28:51,148 INFO sqlalchemy.engine.base.Engine {}
2017-10-08 01:28:51,150 INFO sqlalchemy.engine.base.Engine create database tp3_inmobiliaria
2017-10-08 01:28:51,151 INFO sqlalchemy.engine.base.Engine {}
2017-10-08 01:28:52,585 INFO sqlalchemy.engine.base.Engine COMMIT

# Definicion de tablas
![Inmobilitaria](diagramas/Inmobiliaria.png)

In [16]:
Base = declarative_base()
class Customer(Base):
    __tablename__ = 'Customer'
    
    IDCust = Column(Integer, primary_key=True)
    Name = Column(String)
    Surname = Column(String)
    Address = Column(String)
    City = Column(String)
    Phone = Column(String)
    Budget = Column(Float)
    Office = Column(String)

class Estate(Base):
    __tablename__ = 'Estate'
    
    IDEstate = Column(Integer, primary_key=True)
    Category = Column(String)
    Area = Column(String)
    City = Column(String)
    Province = Column(String)
    Rooms = Column(Integer)
    Bedrooms = Column(Integer)
    Garage = Column(String)
    Meters = Column(Integer)

class Visit(Base):
    __tablename__ = 'Visit'
    
    IDVisit = Column(Integer, primary_key=True)
    Date = Column(Date)
    Duration = Column(Integer)

class Sale(Base):
    __tablename__ = 'Sale'
    
    IDSale = Column(Integer, primary_key=True)
    Date = Column(Date)
    AgreedPrice = Column(Float)
    Price = Column(Float)
    Status = Column(String)
    Time = Column(Integer)

class Agenda(Base):
    __tablename__ = 'Agenda'
    
    IDAgenda = Column(Integer, primary_key=True)
    Data = Column(String)
    Hour = Column(String)
    ClienteName = Column(String)

class Inmobiliaria(Base):
    __tablename__ = 'Inmobiliaria'
    
    ID = Column(Integer, primary_key=True)
    IDEstate = Column(Integer)
    IDCust = Column(Integer)
    IDVisit = Column(Integer)
    IDSale = Column(Integer)
    IDAgenda = Column(Integer)
    Date = Column(Date)

In [17]:
Base.metadata.create_all(engine)

2017-10-08 01:28:58,097 INFO sqlalchemy.engine.base.Engine select version()
2017-10-08 01:28:58,098 INFO sqlalchemy.engine.base.Engine {}
2017-10-08 01:28:58,103 INFO sqlalchemy.engine.base.Engine select current_schema()
2017-10-08 01:28:58,105 INFO sqlalchemy.engine.base.Engine {}
2017-10-08 01:28:58,112 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2017-10-08 01:28:58,115 INFO sqlalchemy.engine.base.Engine {}
2017-10-08 01:28:58,124 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2017-10-08 01:28:58,125 INFO sqlalchemy.engine.base.Engine {}
2017-10-08 01:28:58,130 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2017-10-08 01:28:58,131 INFO sqlalchemy.engine.base.Engine {}
2017-10-08 01:28:58,137 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-10-08 01:28:58,138 INFO sqlalchemy.engine.base.Engine {'name': u'Customer'}
2017-10-08 01:28:58,143 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-10-08 01:28:58,147 INFO sqlalchemy.engine.base.Engine {'name': u'Inmobiliaria'}
2017-10-08 01:28:58,152 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-10-08 01:28:58,155 INFO sqlalchemy.engine.base.Engine {'name': u'Estate'}
2017-10-08 01:28:58,161 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-10-08 01:28:58,164 INFO sqlalchemy.engine.base.Engine {'name': u'Visit'}
2017-10-08 01:28:58,173 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-10-08 01:28:58,174 INFO sqlalchemy.engine.base.Engine {'name': u'Sale'}
2017-10-08 01:28:58,179 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-10-08 01:28:58,183 INFO sqlalchemy.engine.base.Engine {'name': u'Agenda'}
2017-10-08 01:28:58,190 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Customer" (
	"IDCust" SERIAL NOT NULL,
	"Name" VARCHAR,
	"Surname" VARCHAR,
	"Address" VARCHAR,
	"City" VARCHAR,
	"Phone" VARCHAR,
	"Budget" FLOAT,
	"Office" VARCHAR,
	PRIMARY KEY ("IDCust")
)


2017-10-08 01:28:58,193 INFO sqlalchemy.engine.base.Engine {}
2017-10-08 01:28:58,282 INFO sqlalchemy.engine.base.Engine COMMIT
2017-10-08 01:28:58,299 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Inmobiliaria" (
	"ID" SERIAL NOT NULL,
	"IDEstate" INTEGER,
	"IDCust" INTEGER,
	"IDVisit" INTEGER,
	"IDSale" INTEGER,
	"IDAgenda" INTEGER,
	"Date" DATE,
	PRIMARY KEY ("ID")
)


2017-10-08 01:28:58,300 INFO sqlalchemy.engine.base.Engine {}
2017-10-08 01:28:58,338 INFO sqlalchemy.engine.base.Engine COMMIT
2017-10-08 01:28:58,355 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Estate" (
	"IDEstate" SERIAL NOT NULL,
	"Category" VARCHAR,
	"Area" VARCHAR,
	"City" VARCHAR,
	"Province" VARCHAR,
	"Rooms" INTEGER,
	"Bedrooms" INTEGER,
	"Garage" VARCHAR,
	"Meters" INTEGER,
	PRIMARY KEY ("IDEstate")
)


2017-10-08 01:28:58,356 INFO sqlalchemy.engine.base.Engine {}
2017-10-08 01:28:58,428 INFO sqlalchemy.engine.base.Engine COMMIT
2017-10-08 01:28:58,444 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Visit" (
	"IDVisit" SERIAL NOT NULL,
	"Date" DATE,
	"Duration" INTEGER,
	PRIMARY KEY ("IDVisit")
)


2017-10-08 01:28:58,445 INFO sqlalchemy.engine.base.Engine {}
2017-10-08 01:28:58,484 INFO sqlalchemy.engine.base.Engine COMMIT
2017-10-08 01:28:58,501 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Sale" (
	"IDSale" SERIAL NOT NULL,
	"Date" DATE,
	"AgreedPrice" FLOAT,
	"Price" FLOAT,
	"Status" VARCHAR,
	"Time" INTEGER,
	PRIMARY KEY ("IDSale")
)


2017-10-08 01:28:58,503 INFO sqlalchemy.engine.base.Engine {}
2017-10-08 01:28:58,563 INFO sqlalchemy.engine.base.Engine COMMIT
2017-10-08 01:28:58,578 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Agenda" (
	"IDAgenda" SERIAL NOT NULL,
	"Data" VARCHAR,
	"Hour" VARCHAR,
	"ClienteName" VARCHAR,
	PRIMARY KEY ("IDAgenda")
)


2017-10-08 01:28:58,579 INFO sqlalchemy.engine.base.Engine {}
2017-10-08 01:28:58,642 INFO sqlalchemy.engine.base.Engine COMMIT

# Carga de datos
 ### Mocks -> [Mockaroo](https://www.mockaroo.com/)

In [18]:
datos_customer = 'data/inmobiliaria/customer.csv'
datos_agenda = 'data/inmobiliaria/agenda.csv'
datos_sale = 'data/inmobiliaria/sale.csv'
datos_visit = 'data/inmobiliaria/visit.csv'
datos_estate = 'data/inmobiliaria/estate.csv'
datos_hecho_inmobiliaria = 'data/inmobiliaria/hecho_inmobiliaria.csv'

df_customer = pd.DataFrame.from_csv(datos_customer,sep=',')
df_agenda = pd.DataFrame.from_csv(datos_agenda,sep=',')
df_sale = pd.DataFrame.from_csv(datos_sale,sep=',')
df_visit = pd.DataFrame.from_csv(datos_visit,sep=',')
df_estate = pd.DataFrame.from_csv(datos_estate,sep=',')
df_hecho_inmobiliaria = pd.DataFrame.from_csv(datos_hecho_inmobiliaria,sep=',')

In [19]:
import random

def get_categoria(x):
    CATEGORIA = ["casa", "piso", "departamento", "chacra"]
    return CATEGORIA[random.randint(0, len(CATEGORIA) -1)]
   
df_estate = pd.DataFrame.from_csv(datos_estate,sep=',')
df_estate['Category'] = df_estate['Category'].apply(get_categoria)

def get_estate_city(x):
    CIUDADES=["Alto Río Senguer","Camarones","Comodoro Rivadavia","El Hoyo","Esquel","Gaiman","Lago Puelo","Playa Union",
    "Puerto Madryn","Puerto Piramides","Rada Tilly","Rawson","Rio Pico","Rio Mayo","Sarmiento","Trelew","Trevelin","Villa Ameghino"]
    return CIUDADES[random.randint(0, len(CIUDADES) -1)]
   
df_estate['City'] = df_estate['City'].apply(get_estate_city)


def get_sale_date(x):
    dia = random.randint(1, 31)
    mes = random.randint(1, 12)
    anio = random.randint(2010, 2017)
    fecha = '%s/%s/%s'%(anio,mes,dia) 
    return fecha

df_sale = pd.DataFrame.from_csv(datos_sale,sep=',')
df_sale['Date'] = df_sale['Date'].apply(get_sale_date)

In [20]:
df_customer.to_sql("Customer", con=engine, if_exists='replace')
df_agenda.to_sql("Agenda", con=engine, if_exists='replace')
df_sale.to_sql("Sale", con=engine, if_exists='replace')
df_visit.to_sql("Visit", con=engine, if_exists='replace')
df_estate.to_sql("Estate", con=engine, if_exists='replace')
df_hecho_inmobiliaria.to_sql("HechoInmobiliaria", con=engine, if_exists='replace')

2017-10-08 01:29:07,943 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-10-08 01:29:07,947 INFO sqlalchemy.engine.base.Engine {'name': u'Customer'}
2017-10-08 01:29:07,956 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-10-08 01:29:07,958 INFO sqlalchemy.engine.base.Engine {'name': u'Customer'}
2017-10-08 01:29:07,968 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-10-08 01:29:07,969 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-10-08 01:29:07,979 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in ('r', 'v', 'm', 'f')

2017-10-08 01:29:07,981 INFO sqlalchemy.engine.base.Engine {'table_name': u'Customer'}
2017-10-08 01:29:07,987 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid
            FROM pg_catalog.pg_attribute a
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2017-10-08 01:29:07,988 INFO sqlalchemy.engine.base.Engine {'table_oid': 16532}
2017-10-08 01:29:08,004 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2017-10-08 01:29:08,006 INFO sqlalchemy.engine.base.Engine {}
2017-10-08 01:29:08,012 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2017-10-08 01:29:08,013 INFO sqlalchemy.engine.base.Engine {}
2017-10-08 01:29:08,023 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2017-10-08 01:29:08,024 INFO sqlalchemy.engine.base.Engine {'table_oid': 16532}
2017-10-08 01:29:08,027 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2017-10-08 01:29:08,032 INFO sqlalchemy.engine.base.Engine {'table_oid': 16532}
2017-10-08 01:29:08,035 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2017-10-08 01:29:08,038 INFO sqlalchemy.engine.base.Engine {'table': 16532}
2017-10-08 01:29:08,041 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2017-10-08 01:29:08,042 INFO sqlalchemy.engine.base.Engine {'table_oid': 16532}
2017-10-08 01:29:08,046 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2017-10-08 01:29:08,048 INFO sqlalchemy.engine.base.Engine {'table_oid': 16532}
2017-10-08 01:29:08,050 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.consrc as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2017-10-08 01:29:08,051 INFO sqlalchemy.engine.base.Engine {'table_oid': 16532}
2017-10-08 01:29:08,054 INFO sqlalchemy.engine.base.Engine
DROP TABLE "Customer"
2017-10-08 01:29:08,055 INFO sqlalchemy.engine.base.Engine {}
2017-10-08 01:29:08,058 INFO sqlalchemy.engine.base.Engine COMMIT
2017-10-08 01:29:08,098 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Customer" (
	"IDCust" BIGINT,
	"Name" TEXT,
	"Surname" TEXT,
	"Adress" TEXT,
	"City" TEXT,
	"Phone" TEXT,
	"Budget" FLOAT(53),
	"Office" TEXT
)


2017-10-08 01:29:08,100 INFO sqlalchemy.engine.base.Engine {}
2017-10-08 01:29:08,136 INFO sqlalchemy.engine.base.Engine COMMIT
2017-10-08 01:29:08,146 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_Customer_IDCust" ON "Customer" ("IDCust")
2017-10-08 01:29:08,147 INFO sqlalchemy.engine.base.Engine {}
2017-10-08 01:29:08,181 INFO sqlalchemy.engine.base.Engine COMMIT
2017-10-08 01:29:08,192 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-10-08 01:29:08,225 INFO sqlalchemy.engine.base.Engine INSERT INTO "Customer" ("IDCust", "Name", "Surname", "Adress", "City", "Phone", "Budget", "Office") VALUES (%(IDCust)s, %(Name)s, %(Surname)s, %(Adress)s, %(City)s, %(Phone)s, %(Budget)s, %(Office)s)

2017-10-08 01:29:08,229 INFO sqlalchemy.engine.base.Engine ({'City': 'Babirik', 'Surname': 'Gozney', 'Name': 'Enos', 'Office': 'potenti', 'IDCust': 1, 'Budget': 51059.72, 'Phone': '62-(477)447-6111', 'Adress': '25791 Thierer Lane'}, {'City': 'Jiaowei', 'Surname': 'Gale', 'Name': 'Saundra', 'Office': 'cras', 'IDCust': 2, 'Budget': 72669.0, 'Phone': '86-(911)905-6149', 'Adress': '47 Dunning Crossing'}, {'City': 'Beregovoy', 'Surname': 'Labbett', 'Name': 'Grethel', 'Office': 'nunc', 'IDCust': 3, 'Budget': 12551.79, 'Phone': '7-(813)507-8524', 'Adress': '8844 Mitchell Drive'}, {'City': 'Young', 'Surname': 'Gayther', 'Name': 'Jedidiah', 'Office': 'vestibulum', 'IDCust': 4, 'Budget': 68349.68, 'Phone': '598-(762)860-2698', 'Adress': '5 Arrowood Center'}, {'City': 'Barroso', 'Surname': 'McKimmie', 'Name': 'Eleonora', 'Office': 'ut', 'IDCust': 5, 'Budget': 56635.63, 'Phone': '55-(410)522-9669', 'Adress': '0 Roxbury Junction'}, {'City': 'Barranqueras', 'Surname': 'Kybird', 'Name': 'Pearce', 'Office': 'aliquam', 'IDCust': 6, 'Budget': 77835.4, 'Phone': '54-(975)404-2824', 'Adress': '1955 Talmadge Plaza'}, {'City': 'Bazar-Korgon', 'Surname': 'Hylden', 'Name': 'Daisy', 'Office': 'vel', 'IDCust': 7, 'Budget': 68078.71, 'Phone': '996-(578)844-2440', 'Adress': '8318 Paget Parkway'}, {'City': 'Pedro Garc\xc3\xada', 'Surname': 'Brixey', 'Name': 'Charmian', 'Office': 'metus', 'IDCust': 8, 'Budget': 28787.29, 'Phone': '1-(570)523-8177', 'Adress': '697 Arapahoe Junction'}  ... displaying 10 of 1000 total bound parameter sets ...  {'City': 'Huangqiang', 'Surname': 'St. Leger', 'Name': 'Fred', 'Office': 'maecenas', 'IDCust': 999, 'Budget': 62639.82, 'Phone': '86-(175)966-3186', 'Adress': '75 Killdeer Pass'}, {'City': 'Phitsanulok', 'Surname': 'Abramsky', 'Name': 'Abbie', 'Office': 'suspendisse', 'IDCust': 1000, 'Budget': 89457.75, 'Phone': '66-(192)540-1362', 'Adress': '90 Northview Avenue'})
2017-10-08 01:29:08,430 INFO sqlalchemy.engine.base.Engine COMMIT
2017-10-08 01:29:08,440 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-10-08 01:29:08,449 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-10-08 01:29:08,485 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-10-08 01:29:08,487 INFO sqlalchemy.engine.base.Engine {'name': u'Agenda'}
2017-10-08 01:29:08,494 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-10-08 01:29:08,497 INFO sqlalchemy.engine.base.Engine {'name': u'Agenda'}
2017-10-08 01:29:08,504 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-10-08 01:29:08,505 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-10-08 01:29:08,510 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in ('r', 'v', 'm', 'f')

2017-10-08 01:29:08,511 INFO sqlalchemy.engine.base.Engine {'table_name': u'Agenda'}
2017-10-08 01:29:08,521 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid
            FROM pg_catalog.pg_attribute a
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2017-10-08 01:29:08,522 INFO sqlalchemy.engine.base.Engine {'table_oid': 16581}
2017-10-08 01:29:08,527 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2017-10-08 01:29:08,528 INFO sqlalchemy.engine.base.Engine {}
2017-10-08 01:29:08,535 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2017-10-08 01:29:08,536 INFO sqlalchemy.engine.base.Engine {}
2017-10-08 01:29:08,542 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2017-10-08 01:29:08,543 INFO sqlalchemy.engine.base.Engine {'table_oid': 16581}
2017-10-08 01:29:08,552 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2017-10-08 01:29:08,555 INFO sqlalchemy.engine.base.Engine {'table_oid': 16581}
2017-10-08 01:29:08,560 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2017-10-08 01:29:08,563 INFO sqlalchemy.engine.base.Engine {'table': 16581}
2017-10-08 01:29:08,568 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2017-10-08 01:29:08,570 INFO sqlalchemy.engine.base.Engine {'table_oid': 16581}

2017-10-08 01:29:08,576 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2017-10-08 01:29:08,578 INFO sqlalchemy.engine.base.Engine {'table_oid': 16581}
2017-10-08 01:29:08,581 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.consrc as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2017-10-08 01:29:08,584 INFO sqlalchemy.engine.base.Engine {'table_oid': 16581}
2017-10-08 01:29:08,590 INFO sqlalchemy.engine.base.Engine
DROP TABLE "Agenda"
2017-10-08 01:29:08,595 INFO sqlalchemy.engine.base.Engine {}
2017-10-08 01:29:08,599 INFO sqlalchemy.engine.base.Engine COMMIT
2017-10-08 01:29:08,608 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Agenda" (
	"IDAgenda" BIGINT,
	"Date" TEXT,
	"Hour" BIGINT,
	"Duration" FLOAT(53),
	"ClientName" TEXT
)


2017-10-08 01:29:08,609 INFO sqlalchemy.engine.base.Engine {}
2017-10-08 01:29:08,648 INFO sqlalchemy.engine.base.Engine COMMIT
2017-10-08 01:29:08,662 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_Agenda_IDAgenda" ON "Agenda" ("IDAgenda")
2017-10-08 01:29:08,664 INFO sqlalchemy.engine.base.Engine {}
2017-10-08 01:29:08,705 INFO sqlalchemy.engine.base.Engine COMMIT
2017-10-08 01:29:08,720 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-10-08 01:29:08,752 INFO sqlalchemy.engine.base.Engine INSERT INTO "Agenda" ("IDAgenda", "Date", "Hour", "Duration", "ClientName") VALUES (%(IDAgenda)s, %(Date)s, %(Hour)s, %(Duration)s, %(ClientName)s)
2017-10-08 01:29:08,755 INFO sqlalchemy.engine.base.Engine ({'Duration': 80.33, 'Date': '7/30/2017', 'ClientName': 'Beverie', 'Hour': 74, 'IDAgenda': 1}, {'Duration': 21.53, 'Date': '9/6/2016', 'ClientName': 'Engelbert', 'Hour': 15, 'IDAgenda': 2}, {'Duration': 39.66, 'Date': '12/17/2016', 'ClientName': 'Leonhard', 'Hour': 44, 'IDAgenda': 3}, {'Duration': 77.34, 'Date': '9/19/2016', 'ClientName': 'Ermanno', 'Hour': 46, 'IDAgenda': 4}, {'Duration': 79.48, 'Date': '11/16/2016', 'ClientName': 'Heidie', 'Hour': 50, 'IDAgenda': 5}, {'Duration': 66.92, 'Date': '12/1/2016', 'ClientName': 'Alisha', 'Hour': 48, 'IDAgenda': 6}, {'Duration': 46.23, 'Date': '1/24/2017', 'ClientName': 'Tabbitha', 'Hour': 37, 'IDAgenda': 7}, {'Duration': 18.03, 'Date': '5/26/2017', 'ClientName': 'Emily', 'Hour': 83, 'IDAgenda': 8}  ... displaying 10 of 1000 total bound parameter sets ...  {'Duration': 38.91, 'Date': '8/26/2017', 'ClientName': 'Norah', 'Hour': 16, 'IDAgenda': 999}, {'Duration': 54.44, 'Date': '1/1/2017', 'ClientName': 'Hettie', 'Hour': 98, 'IDAgenda': 1000})
2017-10-08 01:29:08,932 INFO sqlalchemy.engine.base.Engine COMMIT
2017-10-08 01:29:08,943 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-10-08 01:29:08,951 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-10-08 01:29:08,995 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-10-08 01:29:08,997 INFO sqlalchemy.engine.base.Engine {'name': u'Sale'}
2017-10-08 01:29:09,002 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-10-08 01:29:09,003 INFO sqlalchemy.engine.base.Engine {'name': u'Sale'}
2017-10-08 01:29:09,008 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-10-08 01:29:09,010 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-10-08 01:29:09,016 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in ('r', 'v', 'm', 'f')

2017-10-08 01:29:09,021 INFO sqlalchemy.engine.base.Engine {'table_name': u'Sale'}
2017-10-08 01:29:09,024 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid
            FROM pg_catalog.pg_attribute a
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2017-10-08 01:29:09,025 INFO sqlalchemy.engine.base.Engine {'table_oid': 16570}
2017-10-08 01:29:09,028 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2017-10-08 01:29:09,030 INFO sqlalchemy.engine.base.Engine {}
2017-10-08 01:29:09,032 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2017-10-08 01:29:09,034 INFO sqlalchemy.engine.base.Engine {}
2017-10-08 01:29:09,039 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2017-10-08 01:29:09,040 INFO sqlalchemy.engine.base.Engine {'table_oid': 16570}
2017-10-08 01:29:09,045 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2017-10-08 01:29:09,046 INFO sqlalchemy.engine.base.Engine {'table_oid': 16570}
2017-10-08 01:29:09,055 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2017-10-08 01:29:09,056 INFO sqlalchemy.engine.base.Engine {'table': 16570}
2017-10-08 01:29:09,060 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2017-10-08 01:29:09,067 INFO sqlalchemy.engine.base.Engine {'table_oid': 16570}
2017-10-08 01:29:09,071 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2017-10-08 01:29:09,072 INFO sqlalchemy.engine.base.Engine {'table_oid': 16570}
2017-10-08 01:29:09,081 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.consrc as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2017-10-08 01:29:09,082 INFO sqlalchemy.engine.base.Engine {'table_oid': 16570}
2017-10-08 01:29:09,086 INFO sqlalchemy.engine.base.Engine
DROP TABLE "Sale"
2017-10-08 01:29:09,092 INFO sqlalchemy.engine.base.Engine {}
2017-10-08 01:29:09,094 INFO sqlalchemy.engine.base.Engine COMMIT
2017-10-08 01:29:09,105 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Sale" (
	"IDSale" BIGINT,
	"Date" TEXT,
	"AgreedPrice" FLOAT(53),
	"Price" FLOAT(53),
	"Status" TEXT,
	"Time" TEXT
)


2017-10-08 01:29:09,106 INFO sqlalchemy.engine.base.Engine {}
2017-10-08 01:29:09,161 INFO sqlalchemy.engine.base.Engine COMMIT
2017-10-08 01:29:09,177 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_Sale_IDSale" ON "Sale" ("IDSale")
2017-10-08 01:29:09,178 INFO sqlalchemy.engine.base.Engine {}
2017-10-08 01:29:09,217 INFO sqlalchemy.engine.base.Engine COMMIT
2017-10-08 01:29:09,234 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-10-08 01:29:09,254 INFO sqlalchemy.engine.base.Engine INSERT INTO "Sale" ("IDSale", "Date", "AgreedPrice", "Price", "Status", "Time") VALUES (%(IDSale)s, %(Date)s, %(AgreedPrice)s, %(Price)s, %(Status)s, %(Time)s)
2017-10-08 01:29:09,258 INFO sqlalchemy.engine.base.Engine ({'Status': 'erat', 'IDSale': 1, 'Price': 48.56, 'AgreedPrice': 99.11, 'Time': '4:55 AM', 'Date': '2013/2/22'}, {'Status': 'ultrices', 'IDSale': 2, 'Price': 62.21, 'AgreedPrice': 92.48, 'Time': '3:29 AM', 'Date': '2014/6/11'}, {'Status': 'integer', 'IDSale': 3, 'Price': 53.87, 'AgreedPrice': 69.94, 'Time': '6:37 AM', 'Date': '2013/8/7'}, {'Status': 'massa', 'IDSale': 4, 'Price': 72.49, 'AgreedPrice': 4.89, 'Time': '7:26 AM', 'Date': '2015/1/20'}, {'Status': 'quisque', 'IDSale': 5, 'Price': 70.53, 'AgreedPrice': 3.32, 'Time': '1:07 PM', 'Date': '2010/2/22'}, {'Status': 'odio', 'IDSale': 6, 'Price': 13.42, 'AgreedPrice': 64.84, 'Time': '1:46 PM', 'Date': '2011/6/25'}, {'Status': 'sed', 'IDSale': 7, 'Price': 2.47, 'AgreedPrice': 37.61, 'Time': '10:36 PM', 'Date': '2010/10/10'}, {'Status': 'primis', 'IDSale': 8, 'Price': 69.61, 'AgreedPrice': 61.46, 'Time': '11:37 PM', 'Date': '2014/9/8'}  ... displaying 10 of 1000 total bound parameter sets ...  {'Status': 'platea', 'IDSale': 999, 'Price': 19.56, 'AgreedPrice': 16.92, 'Time': '3:40 AM', 'Date': '2011/8/25'}, {'Status': 'sem', 'IDSale': 1000, 'Price': 84.4, 'AgreedPrice': 50.55, 'Time': '10:16 PM', 'Date': '2016/1/31'})
2017-10-08 01:29:09,516 INFO sqlalchemy.engine.base.Engine COMMIT
2017-10-08 01:29:09,569 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-10-08 01:29:09,574 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-10-08 01:29:09,588 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-10-08 01:29:09,593 INFO sqlalchemy.engine.base.Engine {'name': u'Visit'}
2017-10-08 01:29:09,600 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-10-08 01:29:09,605 INFO sqlalchemy.engine.base.Engine {'name': u'Visit'}
2017-10-08 01:29:09,611 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-10-08 01:29:09,616 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-10-08 01:29:09,618 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in ('r', 'v', 'm', 'f')

2017-10-08 01:29:09,623 INFO sqlalchemy.engine.base.Engine {'table_name': u'Visit'}
2017-10-08 01:29:09,627 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid
            FROM pg_catalog.pg_attribute a
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2017-10-08 01:29:09,631 INFO sqlalchemy.engine.base.Engine {'table_oid': 16562}
2017-10-08 01:29:09,633 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2017-10-08 01:29:09,638 INFO sqlalchemy.engine.base.Engine {}
2017-10-08 01:29:09,640 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2017-10-08 01:29:09,642 INFO sqlalchemy.engine.base.Engine {}
2017-10-08 01:29:09,645 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2017-10-08 01:29:09,649 INFO sqlalchemy.engine.base.Engine {'table_oid': 16562}
2017-10-08 01:29:09,656 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2017-10-08 01:29:09,661 INFO sqlalchemy.engine.base.Engine {'table_oid': 16562}
2017-10-08 01:29:09,663 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2017-10-08 01:29:09,665 INFO sqlalchemy.engine.base.Engine {'table': 16562}
2017-10-08 01:29:09,670 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2017-10-08 01:29:09,672 INFO sqlalchemy.engine.base.Engine {'table_oid': 16562}
2017-10-08 01:29:09,676 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2017-10-08 01:29:09,680 INFO sqlalchemy.engine.base.Engine {'table_oid': 16562}
2017-10-08 01:29:09,682 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.consrc as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2017-10-08 01:29:09,686 INFO sqlalchemy.engine.base.Engine {'table_oid': 16562}
2017-10-08 01:29:09,690 INFO sqlalchemy.engine.base.Engine
DROP TABLE "Visit"
2017-10-08 01:29:09,691 INFO sqlalchemy.engine.base.Engine {}
2017-10-08 01:29:09,693 INFO sqlalchemy.engine.base.Engine COMMIT
2017-10-08 01:29:09,705 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Visit" (
	"IDVisit" BIGINT,
	"Date" TEXT,
	"Duration" FLOAT(53)
)


2017-10-08 01:29:09,707 INFO sqlalchemy.engine.base.Engine {}
2017-10-08 01:29:09,740 INFO sqlalchemy.engine.base.Engine COMMIT
2017-10-08 01:29:09,758 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_Visit_IDVisit" ON "Visit" ("IDVisit")
2017-10-08 01:29:09,759 INFO sqlalchemy.engine.base.Engine {}
2017-10-08 01:29:09,797 INFO sqlalchemy.engine.base.Engine COMMIT
2017-10-08 01:29:09,814 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-10-08 01:29:09,837 INFO sqlalchemy.engine.base.Engine INSERT INTO "Visit" ("IDVisit", "Date", "Duration") VALUES (%(IDVisit)s, %(Date)s, %(Duration)s)
2017-10-08 01:29:09,841 INFO sqlalchemy.engine.base.Engine ({'Date': '1/21/2017', 'Duration': 85.6, 'IDVisit': 1}, {'Date': '8/28/2017', 'Duration': 94.5, 'IDVisit': 2}, {'Date': '4/23/2017', 'Duration': 31.4, 'IDVisit': 3}, {'Date': '1/15/2017', 'Duration': 14.9, 'IDVisit': 4}, {'Date': '2/4/2017', 'Duration': 94.1, 'IDVisit': 5}, {'Date': '10/24/2016', 'Duration': 14.7, 'IDVisit': 6}, {'Date': '10/18/2016', 'Duration': 39.3, 'IDVisit': 7}, {'Date': '8/8/2017', 'Duration': 55.7, 'IDVisit': 8}  ... displaying 10 of 1000 total bound parameter sets ...  {'Date': '3/22/2017', 'Duration': 84.7, 'IDVisit': 999}, {'Date': '10/25/2016', 'Duration': 83.9, 'IDVisit': 1000})
2017-10-08 01:29:10,077 INFO sqlalchemy.engine.base.Engine COMMIT
2017-10-08 01:29:10,094 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-10-08 01:29:10,095 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-10-08 01:29:10,132 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-10-08 01:29:10,134 INFO sqlalchemy.engine.base.Engine {'name': u'Estate'}
2017-10-08 01:29:10,137 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-10-08 01:29:10,140 INFO sqlalchemy.engine.base.Engine {'name': u'Estate'}
2017-10-08 01:29:10,150 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-10-08 01:29:10,154 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-10-08 01:29:10,160 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in ('r', 'v', 'm', 'f')

2017-10-08 01:29:10,161 INFO sqlalchemy.engine.base.Engine {'table_name': u'Estate'}
2017-10-08 01:29:10,163 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid
            FROM pg_catalog.pg_attribute a
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2017-10-08 01:29:10,167 INFO sqlalchemy.engine.base.Engine {'table_oid': 16551}
2017-10-08 01:29:10,169 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2017-10-08 01:29:10,171 INFO sqlalchemy.engine.base.Engine {}
2017-10-08 01:29:10,176 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2017-10-08 01:29:10,177 INFO sqlalchemy.engine.base.Engine {}
2017-10-08 01:29:10,183 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2017-10-08 01:29:10,184 INFO sqlalchemy.engine.base.Engine {'table_oid': 16551}

2017-10-08 01:29:10,189 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2017-10-08 01:29:10,192 INFO sqlalchemy.engine.base.Engine {'table_oid': 16551}
2017-10-08 01:29:10,196 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2017-10-08 01:29:10,198 INFO sqlalchemy.engine.base.Engine {'table': 16551}
2017-10-08 01:29:10,201 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2017-10-08 01:29:10,203 INFO sqlalchemy.engine.base.Engine {'table_oid': 16551}
2017-10-08 01:29:10,206 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2017-10-08 01:29:10,208 INFO sqlalchemy.engine.base.Engine {'table_oid': 16551}
2017-10-08 01:29:10,211 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.consrc as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2017-10-08 01:29:10,212 INFO sqlalchemy.engine.base.Engine {'table_oid': 16551}
2017-10-08 01:29:10,214 INFO sqlalchemy.engine.base.Engine
DROP TABLE "Estate"
2017-10-08 01:29:10,215 INFO sqlalchemy.engine.base.Engine {}
2017-10-08 01:29:10,218 INFO sqlalchemy.engine.base.Engine COMMIT
2017-10-08 01:29:10,239 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Estate" (
	"IDEstate" BIGINT,
	"Category" TEXT,
	"Area" TEXT,
	"City" TEXT,
	"Province" TEXT,
	"Rooms" BIGINT,
	"Bedrooms" BIGINT,
	"Garage" BOOLEAN,
	"Meters" FLOAT(53)
)


2017-10-08 01:29:10,240 INFO sqlalchemy.engine.base.Engine {}
2017-10-08 01:29:10,287 INFO sqlalchemy.engine.base.Engine COMMIT
2017-10-08 01:29:10,305 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_Estate_IDEstate" ON "Estate" ("IDEstate")
2017-10-08 01:29:10,306 INFO sqlalchemy.engine.base.Engine {}
2017-10-08 01:29:10,343 INFO sqlalchemy.engine.base.Engine COMMIT
2017-10-08 01:29:10,362 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-10-08 01:29:10,451 INFO sqlalchemy.engine.base.Engine INSERT INTO "Estate" ("IDEstate", "Category", "Area", "City", "Province", "Rooms", "Bedrooms", "Garage", "Meters") VALUES (%(IDEstate)s, %(Category)s, %(Area)s, %(City)s, %(Province)s, %(Rooms)s, %(Bedrooms)s, %(Garage)s, %(Meters)s)
2017-10-08 01:29:10,455 INFO sqlalchemy.engine.base.Engine ({'Category': 'piso', 'Province': 'Kentucky', 'City': 'Gaiman', 'Bedrooms': 2, 'Garage': False, 'Meters': 25.4, 'Rooms': 43, 'IDEstate': 1, 'Area': 'tempor'}, {'Category': 'casa', 'Province': 'New York', 'City': 'Puerto Madryn', 'Bedrooms': 96, 'Garage': True, 'Meters': 96.9, 'Rooms': 90, 'IDEstate': 2, 'Area': 'lobortis'}, {'Category': 'casa', 'Province': 'Texas', 'City': 'Villa Ameghino', 'Bedrooms': 14, 'Garage': False, 'Meters': 20.3, 'Rooms': 41, 'IDEstate': 3, 'Area': 'consequat'}, {'Category': 'chacra', 'Province': 'California', 'City': 'Esquel', 'Bedrooms': 2, 'Garage': False, 'Meters': 73.7, 'Rooms': 96, 'IDEstate': 4, 'Area': 'risus'}, {'Category': 'casa', 'Province': 'New York', 'City': 'Lago Puelo', 'Bedrooms': 67, 'Garage': True, 'Meters': 35.1, 'Rooms': 65, 'IDEstate': 5, 'Area': 'quam'}, {'Category': 'casa', 'Province': 'Alabama', 'City': 'Rio Pico', 'Bedrooms': 12, 'Garage': False, 'Meters': 97.9, 'Rooms': 51, 'IDEstate': 6, 'Area': 'vel'}, {'Category': 'casa', 'Province': 'Massachusetts', 'City': 'Trevelin', 'Bedrooms': 87, 'Garage': False, 'Meters': 54.1, 'Rooms': 82, 'IDEstate': 7, 'Area': 'lectus'}, {'Category': 'chacra', 'Province': 'Illinois', 'City': 'Puerto Piramides', 'Bedrooms': 87, 'Garage': True, 'Meters': 90.6, 'Rooms': 76, 'IDEstate': 8, 'Area': 'ut'}  ... displaying 10 of 1000 total bound parameter sets ...  {'Category': 'chacra', 'Province': 'Missouri', 'City': 'Comodoro Rivadavia', 'Bedrooms': 61, 'Garage': True, 'Meters': 11.7, 'Rooms': 45, 'IDEstate': 999, 'Area': 'nec'}, {'Category': 'piso', 'Province': 'Florida', 'City': 'Esquel', 'Bedrooms': 86, 'Garage': False, 'Meters': 13.4, 'Rooms': 42, 'IDEstate': 1000, 'Area': 'ut'})
2017-10-08 01:29:10,652 INFO sqlalchemy.engine.base.Engine COMMIT
2017-10-08 01:29:10,711 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-10-08 01:29:10,712 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-10-08 01:29:10,729 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-10-08 01:29:10,730 INFO sqlalchemy.engine.base.Engine {'name': u'HechoInmobiliaria'}
2017-10-08 01:29:10,735 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "HechoInmobiliaria" (
	"IDHecho" BIGINT,
	"IDEstate" BIGINT,
	"IDCust" BIGINT,
	"IDVisit" BIGINT,
	"IDSale" BIGINT,
	"IDAgenda" BIGINT,
	"Date" TEXT
)


2017-10-08 01:29:10,736 INFO sqlalchemy.engine.base.Engine {}
2017-10-08 01:29:10,776 INFO sqlalchemy.engine.base.Engine COMMIT
2017-10-08 01:29:10,788 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_HechoInmobiliaria_IDHecho" ON "HechoInmobiliaria" ("IDHecho")
2017-10-08 01:29:10,789 INFO sqlalchemy.engine.base.Engine {}
2017-10-08 01:29:10,833 INFO sqlalchemy.engine.base.Engine COMMIT
2017-10-08 01:29:10,845 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-10-08 01:29:10,870 INFO sqlalchemy.engine.base.Engine INSERT INTO "HechoInmobiliaria" ("IDHecho", "IDEstate", "IDCust", "IDVisit", "IDSale", "IDAgenda", "Date") VALUES (%(IDHecho)s, %(IDEstate)s, %(IDCust)s, %(IDVisit)s, %(IDSale)s, %(IDAgenda)s, %(Date)s)
2017-10-08 01:29:10,872 INFO sqlalchemy.engine.base.Engine ({'IDSale': 104, 'IDHecho': 1, 'IDCust': 96, 'IDVisit': 800, 'IDAgenda': 958, 'IDEstate': 137, 'Date': '5/27/2012'}, {'IDSale': 30, 'IDHecho': 2, 'IDCust': 185, 'IDVisit': 598, 'IDAgenda': 311, 'IDEstate': 233, 'Date': '2/12/2007'}, {'IDSale': 323, 'IDHecho': 3, 'IDCust': 229, 'IDVisit': 60, 'IDAgenda': 980, 'IDEstate': 329, 'Date': '7/25/2013'}, {'IDSale': 509, 'IDHecho': 4, 'IDCust': 996, 'IDVisit': 95, 'IDAgenda': 800, 'IDEstate': 672, 'Date': '9/7/2015'}, {'IDSale': 111, 'IDHecho': 5, 'IDCust': 811, 'IDVisit': 801, 'IDAgenda': 786, 'IDEstate': 134, 'Date': '12/5/2008'}, {'IDSale': 868, 'IDHecho': 6, 'IDCust': 783, 'IDVisit': 303, 'IDAgenda': 872, 'IDEstate': 865, 'Date': '1/7/2014'}, {'IDSale': 105, 'IDHecho': 7, 'IDCust': 568, 'IDVisit': 909, 'IDAgenda': 784, 'IDEstate': 214, 'Date': '7/18/2014'}, {'IDSale': 905, 'IDHecho': 8, 'IDCust': 724, 'IDVisit': 93, 'IDAgenda': 709, 'IDEstate': 658, 'Date': '5/1/2016'}  ... displaying 10 of 1000 total bound parameter sets ...  {'IDSale': 344, 'IDHecho': 999, 'IDCust': 117, 'IDVisit': 18, 'IDAgenda': 480, 'IDEstate': 362, 'Date': '8/8/2009'}, {'IDSale': 979, 'IDHecho': 1000, 'IDCust': 671, 'IDVisit': 410, 'IDAgenda': 543, 'IDEstate': 170, 'Date': '1/10/2010'})

2017-10-08 01:29:11,048 INFO sqlalchemy.engine.base.Engine COMMIT
2017-10-08 01:29:11,092 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-10-08 01:29:11,093 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}

# Consultas

### 1- ¿Que tipo de propiedad se vendio por el precio mas alto con respecto a cada ciudad y meses?

In [21]:
def get_propiedad_precio_ciudad_mes():
   
# trelew enero tipo

    sql = """
    select City, mes, Category, precio from (
        select City, mes, Category, precio, rank() over propiedades_rank
            from( 
                    select e."City" as City, 
                    EXTRACT(MONTH FROM to_date(s."Date",'YYYY/MM/DD')) as mes,
                    EXTRACT(YEAR FROM to_date(s."Date",'YYYY/MM/DD')) as anio,
                    e."Category" as Category, 
                    MAX(s."AgreedPrice") as precio
                    from "HechoInmobiliaria" as hi 
                    inner join "Sale" as s on hi."IDSale" = s."IDSale" 
                    inner join "Estate" as e on hi."IDEstate" = e."IDEstate" 
                    group by mes, anio, e."Category",  e."City"
                    order by e."City", mes asc, precio desc
                ) as propiedades_tipo
                WINDOW propiedades_rank AS (partition by City, mes order by precio desc)
        ) as compradores_rankeados
    WHERE rank = 1 order by City, mes asc; 
    """
    
    
    resultado  = pd.read_sql(sql, engine)
    return resultado

get_propiedad_precio_ciudad_mes()

2017-10-08 01:29:11,282 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-10-08 01:29:11,286 INFO sqlalchemy.engine.base.Engine {'name': u'\n    select City, mes, Category, precio from (\n        select City, mes, Category, precio, rank() over propiedades_rank\n            from( \n      ... (702 characters truncated) ... piedades_rank AS (partition by City, mes order by precio desc)\n        ) as compradores_rankeados\n    WHERE rank = 1 order by City, mes asc; \n    '}
2017-10-08 01:29:11,289 INFO sqlalchemy.engine.base.Engine
    select City, mes, Category, precio from (
        select City, mes, Category, precio, rank() over propiedades_rank
            from(
                    select e."City" as City,
                    EXTRACT(MONTH FROM to_date(s."Date",'YYYY/MM/DD')) as mes,
                    EXTRACT(YEAR FROM to_date(s."Date",'YYYY/MM/DD')) as anio,
                    e."Category" as Category,
                    MAX(s."AgreedPrice") as precio
                    from "HechoInmobiliaria" as hi
                    inner join "Sale" as s on hi."IDSale" = s."IDSale"
                    inner join "Estate" as e on hi."IDEstate" = e."IDEstate"
                    group by mes, anio, e."Category",  e."City"
                    order by e."City", mes asc, precio desc
                ) as propiedades_tipo
                WINDOW propiedades_rank AS (partition by City, mes order by precio desc)
        ) as compradores_rankeados
    WHERE rank = 1 order by City, mes asc;

2017-10-08 01:29:11,299 INFO sqlalchemy.engine.base.Engine {}

                   city   mes      category  precio
0      Alto Río Senguer   1.0          piso   66.24
1      Alto Río Senguer   2.0          casa   98.34
2      Alto Río Senguer   2.0          piso   98.34
3      Alto Río Senguer   3.0        chacra   95.68
4      Alto Río Senguer   4.0          piso   64.61
5      Alto Río Senguer   5.0          casa   81.10
6      Alto Río Senguer   6.0          casa   90.22
7      Alto Río Senguer   7.0        chacra   14.54
8      Alto Río Senguer   8.0        chacra   96.88
9      Alto Río Senguer   9.0          casa   57.93
10     Alto Río Senguer  10.0          casa   59.58
11     Alto Río Senguer  11.0  departamento   97.20
12     Alto Río Senguer  12.0          piso   93.13
13            Camarones   1.0  departamento   80.43
14            Camarones   2.0  departamento   90.04
15            Camarones   3.0          casa   92.76
16            Camarones   4.0        chacra   67.77
17            Camarones   5.0  departamento   99.99
18            Camarones   6.0          casa   92.48
19            Camarones   7.0        chacra   76.61
20            Camarones   8.0          casa   89.18
21            Camarones   9.0          casa   88.06
22            Camarones  10.0        chacra   47.57
23            Camarones  11.0        chacra   86.33
24            Camarones  12.0        chacra   81.89
25   Comodoro Rivadavia   1.0        chacra   88.16
26   Comodoro Rivadavia   2.0          casa   99.82
27   Comodoro Rivadavia   3.0        chacra   97.72
28   Comodoro Rivadavia   4.0        chacra   93.98
29   Comodoro Rivadavia   4.0          casa   93.98
..                  ...   ...           ...     ...
191              Trelew  10.0          casa   89.42
192              Trelew  11.0        chacra   77.16
193              Trelew  12.0        chacra   78.29
194            Trevelin   1.0        chacra   94.80
195            Trevelin   2.0          casa   98.96
196            Trevelin   3.0          casa   35.25
197            Trevelin   4.0        chacra   91.59
198            Trevelin   5.0          piso   50.55
199            Trevelin   6.0  departamento   76.59
200            Trevelin   7.0          casa   99.40
201            Trevelin   8.0  departamento   85.59
202            Trevelin   9.0        chacra   95.85
203            Trevelin  10.0          casa   92.39
204            Trevelin  11.0  departamento   94.44
205            Trevelin  12.0          casa   26.93
206      Villa Ameghino   1.0        chacra   62.02
207      Villa Ameghino   2.0  departamento   78.53
208      Villa Ameghino   2.0          casa   78.53
209      Villa Ameghino   3.0          piso   78.95
210      Villa Ameghino   4.0          casa   94.02
211      Villa Ameghino   5.0          piso   93.83
212      Villa Ameghino   6.0          casa   94.79
213      Villa Ameghino   7.0          piso   78.39
214      Villa Ameghino   8.0  departamento   50.81
215      Villa Ameghino   8.0          casa   50.81
216      Villa Ameghino   9.0          piso   85.63
217      Villa Ameghino  10.0          casa   87.50
218      Villa Ameghino  11.0          casa   97.20
219      Villa Ameghino  11.0          piso   97.20
220      Villa Ameghino  12.0          piso   81.89

[221 rows x 4 columns]

### 2- ¿Quien ha comprado un piso con el precio mas alto con respecto a cada mes?

In [98]:
def get_propiedad_precio_alto_mes():
 
    # selecciono quienes compraron un piso con el precio mas alto
    sql1 = """
    select EXTRACT(MONTH FROM to_date(s."Date",'YYYY/MM/DD')) as mes, 
                    c."Name" as Name, c."Surname" as Surname, e."Category" as Category, s."AgreedPrice" as AgreedPrice  
                    from "HechoInmobiliaria" as hi
                    inner join "Sale" as s on hi."IDSale" = s."IDSale" 
                    inner join "Estate" as e on hi."IDEstate" = e."IDEstate" 
                    inner join "Customer" as c on hi."IDCust" = c."IDCust" 
                    where e."Category" = 'piso'
                    order by s."AgreedPrice" DESC
    """
    
    # calculo con la funcion agregada rank sobre compradores_mes, que mas abajo con la clausula 
    # WINDOW  la defino sobre que se va a ejecutar, en este caso rankeo los compradores por mes
    #(los que tiene el mismo mes los pongo en un ranking por precio de mayor a menor)
    sql2 = """
    
    select mes, Name, Surname, AgreedPrice, rank() over compradores_mes
            from( 
                    select EXTRACT(MONTH FROM to_date(s."Date",'YYYY/MM/DD')) as mes, 
                    c."Name" as Name, c."Surname" as Surname, e."Category" as Category, s."AgreedPrice" as AgreedPrice  
                    from "HechoInmobiliaria" as hi
                    inner join "Sale" as s on hi."IDSale" = s."IDSale" 
                    inner join "Estate" as e on hi."IDEstate" = e."IDEstate" 
                    inner join "Customer" as c on hi."IDCust" = c."IDCust" 
                    where e."Category" = 'piso'
                    order by s."AgreedPrice" DESC
                ) as compradores WINDOW compradores_mes AS (partition by mes order by AgreedPrice DESC)
    """
    
    
    # Y finalmente solo me quedo con el numero 1 del ranking de cada mes
    sql3 = """
    select mes, concat(Name,' ', Surname) as nombre, AgreedPrice as Precio from (
        select mes, Name, Surname, AgreedPrice, rank() over particion_por_mes
            from( 
                    select EXTRACT(MONTH FROM to_date(s."Date",'YYYY/MM/DD')) as mes, 
                    c."Name" as Name, c."Surname" as Surname, e."Category" as Category, s."AgreedPrice" as AgreedPrice  
                    from "HechoInmobiliaria" as hi
                    inner join "Sale" as s on hi."IDSale" = s."IDSale" 
                    inner join "Estate" as e on hi."IDEstate" = e."IDEstate" 
                    inner join "Customer" as c on hi."IDCust" = c."IDCust" 
                    where e."Category" = 'piso'
                    order by s."AgreedPrice" DESC
                ) as compradores
                WINDOW particion_por_mes AS (partition by mes order by AgreedPrice DESC)
        ) as compradores_rankeados
    WHERE rank = 1; 
    """
    
    resultado  = pd.read_sql(sql3, engine)
    return resultado

get_propiedad_precio_alto_mes()

2017-09-07 10:15:19,240 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-07 10:15:19,241 INFO sqlalchemy.engine.base.Engine {'name': u'\n    select mes, concat(Name,\' \', Surname) as nombre, AgreedPrice as Precio from (\n        select mes, Name, Surname, AgreedPrice, rank() over p ... (670 characters truncated) ...              WINDOW particion_por_mes AS (partition by mes order by AgreedPrice DESC)\n        ) as compradores_rankeados\n    WHERE rank = 1; \n    '}
2017-09-07 10:15:19,243 INFO sqlalchemy.engine.base.Engine
    select mes, concat(Name,' ', Surname) as nombre, AgreedPrice as Precio from (
        select mes, Name, Surname, AgreedPrice, rank() over particion_por_mes
            from(
                    select EXTRACT(MONTH FROM to_date(s."Date",'YYYY/MM/DD')) as mes,
                    c."Name" as Name, c."Surname" as Surname, e."Category" as Category, s."AgreedPrice" as AgreedPrice
                    from "HechoInmobiliaria" as hi
                    inner join "Sale" as s on hi."IDSale" = s."IDSale"
                    inner join "Estate" as e on hi."IDEstate" = e."IDEstate"
                    inner join "Customer" as c on hi."IDCust" = c."IDCust"
                    where e."Category" = 'piso'
                    order by s."AgreedPrice" DESC
                ) as compradores
                WINDOW particion_por_mes AS (partition by mes order by AgreedPrice DESC)
        ) as compradores_rankeados
    WHERE rank = 1;

2017-09-07 10:15:19,243 INFO sqlalchemy.engine.base.Engine {}

     mes             nombre  precio
0    1.0   Stillmann Cullon   82.57
1    2.0        Ray Hinkley   99.99
2    3.0     Elinore Boecke   98.28
3    4.0          Orrin Tax   85.64
4    5.0        Vita Kegley   98.84
5    5.0     Giacomo Burdas   98.84
6    6.0       Marc Norheny   97.20
7    6.0  Francisca Rodgier   97.20
8    7.0   Sheffie Foxcroft   92.36
9    8.0     Teodoro Fenlon   97.11
10   9.0        Enos Gozney   99.40
11  10.0        Nickey Gulk   80.43
12  11.0     Skelly Hobbema   99.31
13  12.0        Angy Blamey   99.61

### 3- ¿Cual es la duracion media de visitas en las propiedades de cada categorıa?

In [79]:
def get_tiempo_prom_visitas_x_cat():
   
    string_sql = """
    select e."Category", sum(v."Duration")as tiempo_total, 
    (select count(*) from "Estate" as eee where eee."Category" = e."Category" limit 1) as cant_visitas,
    (sum(v."Duration")/(select count(*) from "Estate" as ee where ee."Category" = e."Category" limit 1)) as Promedio 
    from "HechoInmobiliaria" as hi 
    join "Visit" as v on hi."IDVisit" = v."IDVisit" 
    join "Estate" as e on hi."IDEstate" = e."IDEstate" 
    group by e."Category" order by e."Category" asc;
    """
    
    resultado  = pd.read_sql(string_sql, engine)
    return resultado

get_tiempo_prom_visitas_x_cat()

2017-09-07 09:02:27,911 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-07 09:02:27,911 INFO sqlalchemy.engine.base.Engine {'name': u'\n    select e."Category", sum(v."Duration")as tiempo_total, \n    (select count(*) from "Estate" as eee where eee."Category" = e."Category" limit 1 ... (196 characters truncated) ... v on hi."IDVisit" = v."IDVisit" \n    join "Estate" as e on hi."IDEstate" = e."IDEstate" \n    group by e."Category" order by e."Category" asc;\n    '}
2017-09-07 09:02:27,913 INFO sqlalchemy.engine.base.Engine
    select e."Category", sum(v."Duration")as tiempo_total,
    (select count(*) from "Estate" as eee where eee."Category" = e."Category" limit 1) as cant_visitas,
    (sum(v."Duration")/(select count(*) from "Estate" as ee where ee."Category" = e."Category" limit 1)) as Promedio
    from "HechoInmobiliaria" as hi
    join "Visit" as v on hi."IDVisit" = v."IDVisit"
    join "Estate" as e on hi."IDEstate" = e."IDEstate"
    group by e."Category" order by e."Category" asc;

2017-09-07 09:02:27,913 INFO sqlalchemy.engine.base.Engine {}

       Category  tiempo_total  cant_visitas   promedio
0          casa       15202.7           248  61.301210
1        chacra       12704.6           264  48.123485
2  departamento       12088.4           247  48.940891
3          piso       13169.3           241  54.644398