In [1]:
import sqlalchemy as alchemy
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Date, Float, BigInteger
import matplotlib.pyplot as plt
import pandas as pd 
%matplotlib inline

# Conexion con la base de datos tp3

In [2]:
NOMBRE_DB = "tp3"
USUARIO_DB = 'postgres' #gaston
PASSWORD_DB = 'postgres' #gastonm1
url_db = 'postgresql+psycopg2://%s:%s@localhost:5432/%s'%(USUARIO_DB, PASSWORD_DB,'')

engine = alchemy.create_engine(url_db, echo=True)
try:
    conn = engine.connect()
    conn.execute("commit")
    conn.execute("create database " + NOMBRE_DB)
    conn.close()
except Exception as e:
    print str(e)
url_db = 'postgresql+psycopg2://%s:%s@localhost:5432/%s'%(USUARIO_DB, PASSWORD_DB, NOMBRE_DB)
engine = alchemy.create_engine(url_db, echo=True)

2017-09-06 17:37:17,515 INFO sqlalchemy.engine.base.Engine select version()
2017-09-06 17:37:17,517 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:37:17,520 INFO sqlalchemy.engine.base.Engine select current_schema()
2017-09-06 17:37:17,522 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:37:17,525 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2017-09-06 17:37:17,526 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:37:17,528 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2017-09-06 17:37:17,529 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:37:17,532 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2017-09-06 17:37:17,533 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:37:17,535 INFO sqlalchemy.engine.base.Engine commit
2017-09-06 17:37:17,536 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:37:17,538 INFO sqlalchemy.engine.base.Engine create database tp3
2017-09-06 17:37:17,539 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:37:17,541 INFO sqlalchemy.engine.base.Engine ROLLBACK
(psycopg2.ProgrammingError) database "tp3" already exists
 [SQL: 'create database tp3']

# Definicion de Tablas
![Vineria](diagramas/Vineria.png)

In [3]:
Base = declarative_base()
class Customer(Base):
    __tablename__ = 'Customer'    
    code = Column(Integer, primary_key=True)
    name = Column(String)
    address = Column(String)
    phone = Column(String)
    bday = Column(Date)
    gender = Column(String)

class Timestamp(Base):
    __tablename__ = 'Timestamp'    
    code = Column(Integer, primary_key=True)
    timestamp = Column(BigInteger)
    date = Column(Date)
    year = Column(Integer)
    
class ClaseVino(Base):
    __tablename__ = 'ClaseVino'    
    code = Column(Integer, primary_key=True)
    name = Column(String)
    region = Column(String)

class Wine(Base):
    __tablename__ = 'Wine'    
    code = Column(Integer, primary_key=True)
    name = Column(String)
    tipo = Column(String)
    vintage = Column(Integer)
    bottlePrice = Column(Float)
    casePrice = Column(Float)
    claseVino = Column(Integer)

class Order(Base):
    __tablename__ = 'Order'    
    code = Column(Integer, primary_key=True)
    customer = Column(Integer)
    wine = Column(Integer)
    timeStamp = Column(Integer)
    nrBottles = Column(Integer)
    nrCases = Column(Integer)

In [4]:
Base.metadata.create_all(engine)

2017-09-06 17:37:17,813 INFO sqlalchemy.engine.base.Engine select version()
2017-09-06 17:37:17,815 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:37:17,827 INFO sqlalchemy.engine.base.Engine select current_schema()
2017-09-06 17:37:17,831 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:37:17,835 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2017-09-06 17:37:17,836 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:37:17,839 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2017-09-06 17:37:17,841 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:37:17,847 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2017-09-06 17:37:17,854 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:37:17,857 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 17:37:17,860 INFO sqlalchemy.engine.base.Engine {'name': u'Customer'}
2017-09-06 17:37:17,863 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 17:37:17,865 INFO sqlalchemy.engine.base.Engine {'name': u'Timestamp'}
2017-09-06 17:37:17,872 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 17:37:17,874 INFO sqlalchemy.engine.base.Engine {'name': u'Order'}
2017-09-06 17:37:17,876 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 17:37:17,881 INFO sqlalchemy.engine.base.Engine {'name': u'ClaseVino'}
2017-09-06 17:37:17,884 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 17:37:17,887 INFO sqlalchemy.engine.base.Engine {'name': u'Wine'}

 # Carga de datos
 ### Mocks -> [Mockaroo](https://www.mockaroo.com/)

In [5]:
datos_customer = 'data/MOCK_DATA-customer.csv'
datos_class = 'data/MOCK_DATA-class.csv'
datos_order = 'data/MOCK_DATA-order.csv'
datos_time = 'data/MOCK_DATA-time.csv'
datos_wine = 'data/MOCK_DATA-wine.csv'

df_customer = pd.DataFrame.from_csv(datos_customer,sep=',')
df_class = pd.DataFrame.from_csv(datos_class,sep=',')
df_order = pd.DataFrame.from_csv(datos_order,sep=',')
df_time = pd.DataFrame.from_csv(datos_time,sep=',')
df_wine = pd.DataFrame.from_csv(datos_wine,sep=',')

In [6]:
df_customer.to_sql("Customer", con=engine, if_exists='replace')
df_class.to_sql("ClaseVino", con=engine, if_exists='replace')
df_order.to_sql("Order", con=engine, if_exists='replace')
df_time.to_sql("Timestamp", con=engine, if_exists='replace')
df_wine.to_sql("Wine", con=engine, if_exists='replace')

2017-09-06 17:37:18,048 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 17:37:18,049 INFO sqlalchemy.engine.base.Engine {'name': u'Customer'}
2017-09-06 17:37:18,052 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 17:37:18,053 INFO sqlalchemy.engine.base.Engine {'name': u'Customer'}
2017-09-06 17:37:18,056 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-06 17:37:18,058 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-06 17:37:18,062 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in ('r', 'v', 'm', 'f')

2017-09-06 17:37:18,063 INFO sqlalchemy.engine.base.Engine {'table_name': u'Customer'}
2017-09-06 17:37:18,066 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid
            FROM pg_catalog.pg_attribute a
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2017-09-06 17:37:18,067 INFO sqlalchemy.engine.base.Engine {'table_oid': 49536}
2017-09-06 17:37:18,070 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2017-09-06 17:37:18,072 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:37:18,086 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2017-09-06 17:37:18,088 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:37:18,092 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2017-09-06 17:37:18,093 INFO sqlalchemy.engine.base.Engine {'table_oid': 49536}
2017-09-06 17:37:18,096 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2017-09-06 17:37:18,097 INFO sqlalchemy.engine.base.Engine {'table_oid': 49536}
2017-09-06 17:37:18,101 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2017-09-06 17:37:18,102 INFO sqlalchemy.engine.base.Engine {'table': 49536}
2017-09-06 17:37:18,105 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2017-09-06 17:37:18,106 INFO sqlalchemy.engine.base.Engine {'table_oid': 49536}
2017-09-06 17:37:18,111 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2017-09-06 17:37:18,112 INFO sqlalchemy.engine.base.Engine {'table_oid': 49536}
2017-09-06 17:37:18,114 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.consrc as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2017-09-06 17:37:18,115 INFO sqlalchemy.engine.base.Engine {'table_oid': 49536}
2017-09-06 17:37:18,118 INFO sqlalchemy.engine.base.Engine
DROP TABLE "Customer"
2017-09-06 17:37:18,119 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:37:18,123 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 17:37:18,147 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Customer" (
	name TEXT,
	address TEXT,
	phone TEXT,
	bday TEXT,
	gender TEXT
)


2017-09-06 17:37:18,148 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:37:18,198 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 17:37:18,220 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_Customer_name" ON "Customer" (name)
2017-09-06 17:37:18,221 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:37:18,254 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 17:37:18,266 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-06 17:37:18,289 INFO sqlalchemy.engine.base.Engine INSERT INTO "Customer" (name, address, phone, bday, gender) VALUES (%(name)s, %(address)s, %(phone)s, %(bday)s, %(gender)s)
2017-09-06 17:37:18,292 INFO sqlalchemy.engine.base.Engine ({'bday': '1968-05-20 16:31:20', 'gender': 'Female', 'address': '07324 Montana Way', 'name': 'Bonny', 'phone': '41-(625)137-9314'}, {'bday': '1964-03-23 14:32:24', 'gender': 'Female', 'address': '839 Onsgard Court', 'name': 'Brianna', 'phone': '359-(623)793-6068'}, {'bday': '1979-08-19 06:18:46', 'gender': 'Female', 'address': '520 Moose Avenue', 'name': 'Shawna', 'phone': '970-(249)951-8657'}, {'bday': '1971-10-28 05:29:53', 'gender': 'Male', 'address': '6 Harbort Street', 'name': 'Allin', 'phone': '996-(945)197-3282'}, {'bday': '1989-08-01 07:53:37', 'gender': 'Female', 'address': '22 Dixon Point', 'name': 'Ethelind', 'phone': '63-(878)360-5280'}, {'bday': '1986-04-20 11:34:09', 'gender': 'Female', 'address': '0 Ramsey Hill', 'name': 'Rhianna', 'phone': '86-(858)285-9284'}, {'bday': '1979-01-07 19:31:10', 'gender': 'Male', 'address': '0271 Dahle Alley', 'name': 'Julius', 'phone': '86-(750)227-5599'}, {'bday': '1989-02-10 04:05:22', 'gender': 'Male', 'address': '16748 Hansons Drive', 'name': 'Thorin', 'phone': '351-(237)922-4231'}  ... displaying 10 of 1000 total bound parameter sets ...  {'bday': '1969-05-07 15:23:28', 'gender': 'Male', 'address': '3091 Carioca Road', 'name': 'Albrecht', 'phone': '86-(863)911-6146'}, {'bday': '2007-10-12 14:12:38', 'gender': 'Male', 'address': '175 Laurel Place', 'name': 'Justis', 'phone': '7-(737)829-9661'})

2017-09-06 17:37:18,485 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 17:37:18,514 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-06 17:37:18,515 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-06 17:37:18,542 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 17:37:18,543 INFO sqlalchemy.engine.base.Engine {'name': u'ClaseVino'}
2017-09-06 17:37:18,548 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 17:37:18,550 INFO sqlalchemy.engine.base.Engine {'name': u'ClaseVino'}
2017-09-06 17:37:18,554 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-06 17:37:18,555 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-06 17:37:18,558 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in ('r', 'v', 'm', 'f')

2017-09-06 17:37:18,559 INFO sqlalchemy.engine.base.Engine {'table_name': u'ClaseVino'}
2017-09-06 17:37:18,561 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid
            FROM pg_catalog.pg_attribute a
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2017-09-06 17:37:18,563 INFO sqlalchemy.engine.base.Engine {'table_oid': 49543}
2017-09-06 17:37:18,565 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2017-09-06 17:37:18,566 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:37:18,569 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2017-09-06 17:37:18,570 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:37:18,573 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2017-09-06 17:37:18,581 INFO sqlalchemy.engine.base.Engine {'table_oid': 49543}
2017-09-06 17:37:18,585 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2017-09-06 17:37:18,586 INFO sqlalchemy.engine.base.Engine {'table_oid': 49543}
2017-09-06 17:37:18,588 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2017-09-06 17:37:18,589 INFO sqlalchemy.engine.base.Engine {'table': 49543}
2017-09-06 17:37:18,592 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2017-09-06 17:37:18,593 INFO sqlalchemy.engine.base.Engine {'table_oid': 49543}
2017-09-06 17:37:18,597 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2017-09-06 17:37:18,598 INFO sqlalchemy.engine.base.Engine {'table_oid': 49543}
2017-09-06 17:37:18,601 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.consrc as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2017-09-06 17:37:18,603 INFO sqlalchemy.engine.base.Engine {'table_oid': 49543}
2017-09-06 17:37:18,605 INFO sqlalchemy.engine.base.Engine
DROP TABLE "ClaseVino"
2017-09-06 17:37:18,606 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:37:18,608 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 17:37:18,620 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "ClaseVino" (
	code BIGINT,
	name TEXT,
	region TEXT
)


2017-09-06 17:37:18,622 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:37:18,679 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 17:37:18,692 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_ClaseVino_code" ON "ClaseVino" (code)
2017-09-06 17:37:18,693 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:37:18,735 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 17:37:18,748 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-06 17:37:18,760 INFO sqlalchemy.engine.base.Engine INSERT INTO "ClaseVino" (code, name, region) VALUES (%(code)s, %(name)s, %(region)s)

2017-09-06 17:37:18,767 INFO sqlalchemy.engine.base.Engine ({'region': 'Guyana', 'code': 1, 'name': 'Duck, comb'}, {'region': 'Norway', 'code': 2, 'name': 'Canadian river otter'}, {'region': 'China', 'code': 3, 'name': 'Squirrel, palm'}, {'region': 'Russia', 'code': 4, 'name': 'Bee-eater (unidentified)'}, {'region': 'Greece', 'code': 5, 'name': 'European badger'}, {'region': 'Poland', 'code': 6, 'name': 'Colobus, white-mantled'}, {'region': 'United States', 'code': 7, 'name': 'Egyptian viper'}, {'region': 'Bolivia', 'code': 8, 'name': 'Arctic lemming'}  ... displaying 10 of 1000 total bound parameter sets ...  {'region': 'Vietnam', 'code': 999, 'name': 'Goldeneye, barrows'}, {'region': 'Indonesia', 'code': 1000, 'name': 'Great white pelican'})
2017-09-06 17:37:18,964 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 17:37:18,973 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-06 17:37:18,979 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-06 17:37:18,987 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 17:37:18,988 INFO sqlalchemy.engine.base.Engine {'name': u'Order'}
2017-09-06 17:37:18,996 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 17:37:19,003 INFO sqlalchemy.engine.base.Engine {'name': u'Order'}
2017-09-06 17:37:19,008 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-06 17:37:19,009 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-06 17:37:19,012 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in ('r', 'v', 'm', 'f')

2017-09-06 17:37:19,017 INFO sqlalchemy.engine.base.Engine {'table_name': u'Order'}
2017-09-06 17:37:19,025 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid
            FROM pg_catalog.pg_attribute a
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2017-09-06 17:37:19,027 INFO sqlalchemy.engine.base.Engine {'table_oid': 49550}
2017-09-06 17:37:19,029 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2017-09-06 17:37:19,030 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:37:19,033 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2017-09-06 17:37:19,036 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:37:19,041 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2017-09-06 17:37:19,042 INFO sqlalchemy.engine.base.Engine {'table_oid': 49550}
2017-09-06 17:37:19,051 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2017-09-06 17:37:19,055 INFO sqlalchemy.engine.base.Engine {'table_oid': 49550}
2017-09-06 17:37:19,058 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2017-09-06 17:37:19,059 INFO sqlalchemy.engine.base.Engine {'table': 49550}
2017-09-06 17:37:19,062 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2017-09-06 17:37:19,063 INFO sqlalchemy.engine.base.Engine {'table_oid': 49550}
2017-09-06 17:37:19,067 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2017-09-06 17:37:19,069 INFO sqlalchemy.engine.base.Engine {'table_oid': 49550}
2017-09-06 17:37:19,071 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.consrc as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2017-09-06 17:37:19,084 INFO sqlalchemy.engine.base.Engine {'table_oid': 49550}
2017-09-06 17:37:19,086 INFO sqlalchemy.engine.base.Engine
DROP TABLE "Order"

2017-09-06 17:37:19,087 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:37:19,090 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 17:37:19,097 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Order" (
	customer BIGINT,
	wine BIGINT,
	time BIGINT,
	"nrBottles" BIGINT,
	nrcases BIGINT
)


2017-09-06 17:37:19,099 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:37:19,102 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 17:37:19,117 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_Order_customer" ON "Order" (customer)
2017-09-06 17:37:19,119 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:37:19,158 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 17:37:19,174 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-06 17:37:19,191 INFO sqlalchemy.engine.base.Engine INSERT INTO "Order" (customer, wine, time, "nrBottles", nrcases) VALUES (%(customer)s, %(wine)s, %(time)s, %(nrBottles)s, %(nrcases)s)
2017-09-06 17:37:19,195 INFO sqlalchemy.engine.base.Engine ({'customer': 355, 'nrcases': 2, 'nrBottles': 93, 'wine': 682, 'time': 441}, {'customer': 163, 'nrcases': 2, 'nrBottles': 95, 'wine': 336, 'time': 296}, {'customer': 584, 'nrcases': 2, 'nrBottles': 73, 'wine': 352, 'time': 72}, {'customer': 965, 'nrcases': 2, 'nrBottles': 33, 'wine': 10, 'time': 715}, {'customer': 465, 'nrcases': 5, 'nrBottles': 60, 'wine': 149, 'time': 803}, {'customer': 936, 'nrcases': 1, 'nrBottles': 95, 'wine': 205, 'time': 960}, {'customer': 806, 'nrcases': 5, 'nrBottles': 15, 'wine': 840, 'time': 230}, {'customer': 560, 'nrcases': 7, 'nrBottles': 77, 'wine': 555, 'time': 608}  ... displaying 10 of 1000 total bound parameter sets ...  {'customer': 155, 'nrcases': 8, 'nrBottles': 82, 'wine': 587, 'time': 662}, {'customer': 346, 'nrcases': 4, 'nrBottles': 91, 'wine': 344, 'time': 954})
2017-09-06 17:37:19,387 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 17:37:19,465 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-06 17:37:19,467 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-06 17:37:19,509 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 17:37:19,511 INFO sqlalchemy.engine.base.Engine {'name': u'Timestamp'}
2017-09-06 17:37:19,515 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 17:37:19,517 INFO sqlalchemy.engine.base.Engine {'name': u'Timestamp'}
2017-09-06 17:37:19,521 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-06 17:37:19,522 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-06 17:37:19,533 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in ('r', 'v', 'm', 'f')

2017-09-06 17:37:19,536 INFO sqlalchemy.engine.base.Engine {'table_name': u'Timestamp'}
2017-09-06 17:37:19,539 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid
            FROM pg_catalog.pg_attribute a
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2017-09-06 17:37:19,540 INFO sqlalchemy.engine.base.Engine {'table_oid': 49554}
2017-09-06 17:37:19,543 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2017-09-06 17:37:19,544 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:37:19,547 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2017-09-06 17:37:19,548 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:37:19,553 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2017-09-06 17:37:19,554 INFO sqlalchemy.engine.base.Engine {'table_oid': 49554}
2017-09-06 17:37:19,557 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2017-09-06 17:37:19,558 INFO sqlalchemy.engine.base.Engine {'table_oid': 49554}
2017-09-06 17:37:19,565 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2017-09-06 17:37:19,568 INFO sqlalchemy.engine.base.Engine {'table': 49554}
2017-09-06 17:37:19,572 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2017-09-06 17:37:19,573 INFO sqlalchemy.engine.base.Engine {'table_oid': 49554}
2017-09-06 17:37:19,577 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2017-09-06 17:37:19,579 INFO sqlalchemy.engine.base.Engine {'table_oid': 49554}
2017-09-06 17:37:19,582 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.consrc as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2017-09-06 17:37:19,583 INFO sqlalchemy.engine.base.Engine {'table_oid': 49554}
2017-09-06 17:37:19,586 INFO sqlalchemy.engine.base.Engine
DROP TABLE "Timestamp"
2017-09-06 17:37:19,588 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:37:19,590 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 17:37:19,600 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Timestamp" (
	code BIGINT,
	"timeStamp" TEXT,
	date TEXT,
	year BIGINT
)


2017-09-06 17:37:19,602 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:37:19,648 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 17:37:19,665 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_Timestamp_code" ON "Timestamp" (code)
2017-09-06 17:37:19,666 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:37:19,704 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 17:37:19,723 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-06 17:37:19,737 INFO sqlalchemy.engine.base.Engine INSERT INTO "Timestamp" (code, "timeStamp", date, year) VALUES (%(code)s, %(timeStamp)s, %(date)s, %(year)s)
2017-09-06 17:37:19,741 INFO sqlalchemy.engine.base.Engine ({'date': '1993-08-18 09:46:21', 'timeStamp': '4:20:55.000', 'code': 1, 'year': 1993}, {'date': '2003-06-21 17:26:57', 'timeStamp': '22:02:25.000', 'code': 2, 'year': 2003}, {'date': '1992-05-06 14:33:56', 'timeStamp': '23:52:58.000', 'code': 3, 'year': 1992}, {'date': '1995-12-23 18:54:17', 'timeStamp': '3:41:48.000', 'code': 4, 'year': 1995}, {'date': '2011-07-19 04:41:15', 'timeStamp': '11:03:03.000', 'code': 5, 'year': 2011}, {'date': '2013-09-07 03:32:31', 'timeStamp': '5:07:05.000', 'code': 6, 'year': 2013}, {'date': '2004-11-18 12:13:07', 'timeStamp': '2:18:56.000', 'code': 7, 'year': 2004}, {'date': '1999-07-12 17:42:12', 'timeStamp': '21:39:52.000', 'code': 8, 'year': 1999}  ... displaying 10 of 1000 total bound parameter sets ...  {'date': '2014-12-16 22:49:30', 'timeStamp': '14:39:14.000', 'code': 999, 'year': 2014}, {'date': '2005-12-23 11:17:59', 'timeStamp': '23:46:03.000', 'code': 1000, 'year': 2005})
2017-09-06 17:37:19,939 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 17:37:19,957 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-06 17:37:19,958 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-06 17:37:20,007 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 17:37:20,008 INFO sqlalchemy.engine.base.Engine {'name': u'Wine'}
2017-09-06 17:37:20,013 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 17:37:20,021 INFO sqlalchemy.engine.base.Engine {'name': u'Wine'}
2017-09-06 17:37:20,026 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-06 17:37:20,030 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-06 17:37:20,033 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in ('r', 'v', 'm', 'f')

2017-09-06 17:37:20,035 INFO sqlalchemy.engine.base.Engine {'table_name': u'Wine'}
2017-09-06 17:37:20,037 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid
            FROM pg_catalog.pg_attribute a
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2017-09-06 17:37:20,038 INFO sqlalchemy.engine.base.Engine {'table_oid': 49561}
2017-09-06 17:37:20,040 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2017-09-06 17:37:20,042 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:37:20,044 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2017-09-06 17:37:20,045 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:37:20,049 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2017-09-06 17:37:20,050 INFO sqlalchemy.engine.base.Engine {'table_oid': 49561}
2017-09-06 17:37:20,052 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2017-09-06 17:37:20,053 INFO sqlalchemy.engine.base.Engine {'table_oid': 49561}
2017-09-06 17:37:20,055 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2017-09-06 17:37:20,056 INFO sqlalchemy.engine.base.Engine {'table': 49561}
2017-09-06 17:37:20,059 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2017-09-06 17:37:20,061 INFO sqlalchemy.engine.base.Engine {'table_oid': 49561}
2017-09-06 17:37:20,064 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2017-09-06 17:37:20,065 INFO sqlalchemy.engine.base.Engine {'table_oid': 49561}
2017-09-06 17:37:20,068 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.consrc as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2017-09-06 17:37:20,069 INFO sqlalchemy.engine.base.Engine {'table_oid': 49561}
2017-09-06 17:37:20,071 INFO sqlalchemy.engine.base.Engine
DROP TABLE "Wine"
2017-09-06 17:37:20,072 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:37:20,074 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 17:37:20,092 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Wine" (
	code BIGINT,
	name TEXT,
	type TEXT,
	vintage TEXT,
	bottleprice TEXT,
	caseprice TEXT,
	class BIGINT
)


2017-09-06 17:37:20,093 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:37:20,127 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 17:37:20,145 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_Wine_code" ON "Wine" (code)
2017-09-06 17:37:20,147 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:37:20,184 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 17:37:20,204 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-06 17:37:20,227 INFO sqlalchemy.engine.base.Engine INSERT INTO "Wine" (code, name, type, vintage, bottleprice, caseprice, class) VALUES (%(code)s, %(name)s, %(type)s, %(vintage)s, %(bottleprice)s, %(caseprice)s, %(class)s)
2017-09-06 17:37:20,230 INFO sqlalchemy.engine.base.Engine ({'code': 1, 'name': 'Gan', 'vintage': '1955-01-06 05:45:01', 'bottleprice': '$56.57', 'caseprice': '$40.06', 'type': 'Maroon', 'class': 677}, {'code': 2, 'name': 'Melany', 'vintage': '1906-06-07 01:01:13', 'bottleprice': '$496.73', 'caseprice': '$577.38', 'type': 'Red', 'class': 125}, {'code': 3, 'name': 'Flory', 'vintage': '1959-08-19 01:15:48', 'bottleprice': '$81.45', 'caseprice': '$90.27', 'type': 'Crimson', 'class': 92}, {'code': 4, 'name': 'Laney', 'vintage': '1936-03-12 23:18:42', 'bottleprice': '$483.41', 'caseprice': '$792.87', 'type': 'Fuscia', 'class': 653}, {'code': 5, 'name': 'Kaile', 'vintage': '1986-12-04 01:32:40', 'bottleprice': '$84.52', 'caseprice': '$417.92', 'type': 'Khaki', 'class': 303}, {'code': 6, 'name': 'Byram', 'vintage': '2000-09-13 20:28:20', 'bottleprice': '$26.12', 'caseprice': '$473.33', 'type': 'Mauv', 'class': 785}, {'code': 7, 'name': 'Way', 'vintage': '1935-08-30 21:03:12', 'bottleprice': '$199.17', 'caseprice': '$121.80', 'type': 'Indigo', 'class': 801}, {'code': 8, 'name': 'Pippy', 'vintage': '1993-02-02 06:02:59', 'bottleprice': '$774.33', 'caseprice': '$104.79', 'type': 'Indigo', 'class': 696}  ... displaying 10 of 1000 total bound parameter sets ...  {'code': 999, 'name': 'Niccolo', 'vintage': '1913-07-01 06:15:34', 'bottleprice': '$539.64', 'caseprice': '$757.41', 'type': 'Mauv', 'class': 627}, {'code': 1000, 'name': 'Karoly', 'vintage': '1972-10-06 16:56:54', 'bottleprice': '$941.25', 'caseprice': '$412.93', 'type': 'Orange', 'class': 611})
2017-09-06 17:37:20,440 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 17:37:20,450 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-06 17:37:20,451 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}

# Consultas

## 1- Muestre porcentajes de tipos de vinos mas vendidos en X año.

In [11]:
def get_tipo_vinos_mas_vendidos_por_anio(anio):
    assert type(anio) == int, "Error"
    string_sql = """ select w.type as tipo_vino, sum(o."nrBottles") as cant_x_tipo_vino, 
                    (select sum(oo."nrBottles") from "Order" as oo join "Timestamp" as tt 
                     on oo.time = tt.code and tt.year = %d) as total_anual, 
                     (((sum(o."nrBottles"))*100)/(select sum(oo."nrBottles") 
                     from "Order" as oo join "Timestamp" as tt on oo.time = tt.code and tt.year = %d)) 
                     as porcentaje, '"+str(anio)+"' as anio from "Wine" as w join "Order" as o on (o.wine = w.code) 
                     join "Timestamp" as t on (o.time = t.code and t.year = %d) 
                     group by w.type order by cant_x_tipo_vino desc;"""
    
    return pd.read_sql(string_sql%(anio,anio, anio), engine)
    
get_tipo_vinos_mas_vendidos_por_anio(2004)

2017-09-06 17:39:28,745 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 17:39:28,758 INFO sqlalchemy.engine.base.Engine {'name': u' select w.type as tipo_vino, sum(o."nrBottles") as cant_x_tipo_vino, \n                    (select sum(oo."nrBottles") from "Order" as oo join "Time ... (404 characters truncated) ...                   join "Timestamp" as t on (o.time = t.code and t.year = 2004) \n                     group by w.type order by cant_x_tipo_vino desc;'}
2017-09-06 17:39:28,769 INFO sqlalchemy.engine.base.Engine  select w.type as tipo_vino, sum(o."nrBottles") as cant_x_tipo_vino,
                    (select sum(oo."nrBottles") from "Order" as oo join "Timestamp" as tt
                     on oo.time = tt.code and tt.year = 2004) as total_anual,
                     (((sum(o."nrBottles"))*100)/(select sum(oo."nrBottles")
                     from "Order" as oo join "Timestamp" as tt on oo.time = tt.code and tt.year = 2004))
                     as porcentaje, '"+str(anio)+"' as anio from "Wine" as w join "Order" as o on (o.wine = w.code)
                     join "Timestamp" as t on (o.time = t.code and t.year = 2004)
                     group by w.type order by cant_x_tipo_vino desc;
2017-09-06 17:39:28,771 INFO sqlalchemy.engine.base.Engine {}

     tipo_vino  cant_x_tipo_vino  total_anual  porcentaje           anio
0        Khaki             287.0       2025.0   14.172840  "+str(anio)+"
1       Orange             252.0       2025.0   12.444444  "+str(anio)+"
2         Puce             181.0       2025.0    8.938272  "+str(anio)+"
3   Aquamarine             168.0       2025.0    8.296296  "+str(anio)+"
4       Purple             147.0       2025.0    7.259259  "+str(anio)+"
5       Violet             141.0       2025.0    6.962963  "+str(anio)+"
6      Crimson             135.0       2025.0    6.666667  "+str(anio)+"
7       Fuscia             131.0       2025.0    6.469136  "+str(anio)+"
8    Turquoise             116.0       2025.0    5.728395  "+str(anio)+"
9    Goldenrod             114.0       2025.0    5.629630  "+str(anio)+"
10        Mauv              93.0       2025.0    4.592593  "+str(anio)+"
11        Pink              80.0       2025.0    3.950617  "+str(anio)+"
12         Red              70.0       2025.0    3.456790  "+str(anio)+"
13        Blue              63.0       2025.0    3.111111  "+str(anio)+"
14       Green              40.0       2025.0    1.975309  "+str(anio)+"
15        Teal               7.0       2025.0    0.345679  "+str(anio)+"

## 2- Cual es la temporada con mayor cantidad de ventas de X vino?

In [12]:
def get_temporada_mayor_ventas_por_vino(code_vino):
    string_sql = """ select t.year,sum(o."nrBottles") as venta from "Wine" as w 
                    join "Order" as o on w.code = o.wine join "Timestamp" as t on t.code = o.time where w.code=10
                    group by t.year order by t.year desc;"""
    return pd.read_sql(string_sql, engine)
    
get_temporada_mayor_ventas_por_vino(10)

2017-09-06 17:39:53,240 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 17:39:53,244 INFO sqlalchemy.engine.base.Engine {'name': u' select t.year,sum(o."nrBottles") as venta from "Wine" as w \n                    join "Order" as o on w.code = o.wine join "Timestamp" as t on t.code = o.time where w.code=10\n                    group by t.year order by t.year desc;'}
2017-09-06 17:39:53,257 INFO sqlalchemy.engine.base.Engine  select t.year,sum(o."nrBottles") as venta from "Wine" as w
                    join "Order" as o on w.code = o.wine join "Timestamp" as t on t.code = o.time where w.code=10
                    group by t.year order by t.year desc;
2017-09-06 17:39:53,259 INFO sqlalchemy.engine.base.Engine {}

   year  venta
0  2012   27.0
1  2008   33.0
2  1998   71.0

## 3-  Que clientes han realizado mas compras a lo largo de 4 años?

In [ ]:
def get_buenos_clientes():
    string_sql = """ select customer as code_customer, total_ventas from (select customer, 
                SUM("nrBottles") as total_ventas from "Order" where time in (select code from "Timestamp" 
                where year > 2013) group by("customer") ) as p order by total_ventas desc;"""
    return pd.read_sql(string_sql, engine)    
    
get_buenos_clientes()