In [1]:
import sqlalchemy as alchemy
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Date, Float, BigInteger
import matplotlib.pyplot as plt
import pandas as pd 
%matplotlib inline

# Conexion con la base de datos tp32

In [2]:
NOMBRE_DB = "tp32"
USUARIO_DB = 'postgres' #gaston
PASSWORD_DB = 'postgres' #gastonm1
url_db = 'postgresql+psycopg2://%s:%s@localhost:5432/%s'%(USUARIO_DB, PASSWORD_DB, NOMBRE_DB)

engine = alchemy.create_engine(url_db, echo=True)
try:
    conn = engine.connect()
    conn.execute("commit")
    conn.execute("create database " + NOMBRE_DB)
    conn.close()
except Exception as e:
    print str(e)
url_db = 'postgresql+psycopg2://%s:%s@localhost:5432/%s'%(USUARIO_DB, PASSWORD_DB, NOMBRE_DB)
engine = alchemy.create_engine(url_db, echo=True)

2017-09-06 17:54:03,076 INFO sqlalchemy.engine.base.Engine select version()
2017-09-06 17:54:03,077 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:54:03,081 INFO sqlalchemy.engine.base.Engine select current_schema()
2017-09-06 17:54:03,083 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:54:03,089 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2017-09-06 17:54:03,090 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:54:03,098 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2017-09-06 17:54:03,101 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:54:03,104 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2017-09-06 17:54:03,105 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:54:03,107 INFO sqlalchemy.engine.base.Engine commit
2017-09-06 17:54:03,108 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:54:03,110 INFO sqlalchemy.engine.base.Engine create database tp32
2017-09-06 17:54:03,111 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:54:03,112 INFO sqlalchemy.engine.base.Engine ROLLBACK
(psycopg2.ProgrammingError) database "tp32" already exists
 [SQL: 'create database tp32']

# Definicion de tablas
![Inmobilitaria](diagramas/Inmobiliaria.png)

In [3]:
Base = declarative_base()
class Customer(Base):
    __tablename__ = 'Customer'
    
    IDCust = Column(Integer, primary_key=True)
    Name = Column(String)
    Surname = Column(String)
    Address = Column(String)
    City = Column(String)
    Phone = Column(String)
    Budget = Column(Float)
    Office = Column(String)

class Estate(Base):
    __tablename__ = 'Estate'
    
    IDEstate = Column(Integer, primary_key=True)
    Category = Column(String)
    Area = Column(String)
    City = Column(String)
    Province = Column(String)
    Rooms = Column(Integer)
    Bedrooms = Column(Integer)
    Garage = Column(String)
    Meters = Column(Integer)

class Visit(Base):
    __tablename__ = 'Visit'
    
    IDVisit = Column(Integer, primary_key=True)
    Date = Column(Date)
    Duration = Column(Integer)

class Sale(Base):
    __tablename__ = 'Sale'
    
    IDSale = Column(Integer, primary_key=True)
    Date = Column(Date)
    AgreedPrice = Column(Float)
    Price = Column(Float)
    Status = Column(String)
    Time = Column(Integer)

class Agenda(Base):
    __tablename__ = 'Agenda'
    
    IDAgenda = Column(Integer, primary_key=True)
    Data = Column(String)
    Hour = Column(String)
    ClienteName = Column(String)

class Inmobiliaria(Base):
    __tablename__ = 'Inmobiliaria'
    
    ID = Column(Integer, primary_key=True)
    IDEstate = Column(Integer)
    IDCust = Column(Integer)
    IDVisit = Column(Integer)
    IDSale = Column(Integer)
    IDAgenda = Column(Integer)
    Date = Column(Date)

In [4]:
Base.metadata.create_all(engine)

2017-09-06 17:54:03,370 INFO sqlalchemy.engine.base.Engine select version()
2017-09-06 17:54:03,372 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:54:03,385 INFO sqlalchemy.engine.base.Engine select current_schema()
2017-09-06 17:54:03,387 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:54:03,397 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2017-09-06 17:54:03,399 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:54:03,402 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2017-09-06 17:54:03,404 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:54:03,409 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2017-09-06 17:54:03,411 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:54:03,415 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 17:54:03,428 INFO sqlalchemy.engine.base.Engine {'name': u'Customer'}
2017-09-06 17:54:03,434 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 17:54:03,450 INFO sqlalchemy.engine.base.Engine {'name': u'Inmobiliaria'}
2017-09-06 17:54:03,453 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 17:54:03,455 INFO sqlalchemy.engine.base.Engine {'name': u'Estate'}
2017-09-06 17:54:03,461 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 17:54:03,463 INFO sqlalchemy.engine.base.Engine {'name': u'Visit'}
2017-09-06 17:54:03,466 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 17:54:03,467 INFO sqlalchemy.engine.base.Engine {'name': u'Sale'}
2017-09-06 17:54:03,470 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 17:54:03,472 INFO sqlalchemy.engine.base.Engine {'name': u'Agenda'}

# Carga de datos
 ### Mocks -> [Mockaroo](https://www.mockaroo.com/)

In [5]:
datos_customer = 'data/inmobiliaria/customer.csv'
datos_agenda = 'data/inmobiliaria/agenda.csv'
datos_sale = 'data/inmobiliaria/sale.csv'
datos_visit = 'data/inmobiliaria/visit.csv'
datos_estate = 'data/inmobiliaria/estate.csv'
datos_hecho_inmobiliaria = 'data/inmobiliaria/hecho_inmobiliaria.csv'

df_customer = pd.DataFrame.from_csv(datos_customer,sep=',')
df_agenda = pd.DataFrame.from_csv(datos_agenda,sep=',')
df_sale = pd.DataFrame.from_csv(datos_sale,sep=',')
df_visit = pd.DataFrame.from_csv(datos_visit,sep=',')
df_estate = pd.DataFrame.from_csv(datos_estate,sep=',')
df_hecho_inmobiliaria = pd.DataFrame.from_csv(datos_hecho_inmobiliaria,sep=',')

In [6]:
import random

def get_categoria(x):
    CATEGORIA = ["casa", "piso", "departamento", "chacra"]
    return CATEGORIA[random.randint(0, len(CATEGORIA) -1)]
   
df_estate = pd.DataFrame.from_csv(datos_estate,sep=',')
df_estate['Category'] = df_estate['Category'].apply(get_categoria)

In [7]:
df_customer.to_sql("Customer", con=engine, if_exists='replace')
df_agenda.to_sql("Agenda", con=engine, if_exists='replace')
df_sale.to_sql("Sale", con=engine, if_exists='replace')
df_visit.to_sql("Visit", con=engine, if_exists='replace')
df_estate.to_sql("Estate", con=engine, if_exists='replace')
df_hecho_inmobiliaria.to_sql("HechoInmobiliaria", con=engine, if_exists='replace')

2017-09-06 17:54:03,702 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 17:54:03,703 INFO sqlalchemy.engine.base.Engine {'name': u'Customer'}
2017-09-06 17:54:03,717 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 17:54:03,718 INFO sqlalchemy.engine.base.Engine {'name': u'Customer'}
2017-09-06 17:54:03,723 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-06 17:54:03,726 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-06 17:54:03,734 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in ('r', 'v', 'm', 'f')

2017-09-06 17:54:03,736 INFO sqlalchemy.engine.base.Engine {'table_name': u'Customer'}
2017-09-06 17:54:03,739 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid
            FROM pg_catalog.pg_attribute a
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2017-09-06 17:54:03,749 INFO sqlalchemy.engine.base.Engine {'table_oid': 49492}
2017-09-06 17:54:03,771 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2017-09-06 17:54:03,773 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:54:03,779 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2017-09-06 17:54:03,780 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:54:03,787 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2017-09-06 17:54:03,788 INFO sqlalchemy.engine.base.Engine {'table_oid': 49492}
2017-09-06 17:54:03,794 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2017-09-06 17:54:03,796 INFO sqlalchemy.engine.base.Engine {'table_oid': 49492}
2017-09-06 17:54:03,801 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2017-09-06 17:54:03,802 INFO sqlalchemy.engine.base.Engine {'table': 49492}
2017-09-06 17:54:03,805 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2017-09-06 17:54:03,806 INFO sqlalchemy.engine.base.Engine {'table_oid': 49492}
2017-09-06 17:54:03,817 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2017-09-06 17:54:03,822 INFO sqlalchemy.engine.base.Engine {'table_oid': 49492}
2017-09-06 17:54:03,827 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.consrc as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2017-09-06 17:54:03,831 INFO sqlalchemy.engine.base.Engine {'table_oid': 49492}
2017-09-06 17:54:03,834 INFO sqlalchemy.engine.base.Engine
DROP TABLE "Customer"
2017-09-06 17:54:03,835 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:54:03,838 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 17:54:03,859 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Customer" (
	"IDCust" BIGINT,
	"Name" TEXT,
	"Surname" TEXT,
	"Adress" TEXT,
	"City" TEXT,
	"Phone" TEXT,
	"Budget" FLOAT(53),
	"Office" TEXT
)


2017-09-06 17:54:03,861 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:54:03,931 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 17:54:03,946 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_Customer_IDCust" ON "Customer" ("IDCust")
2017-09-06 17:54:03,947 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:54:03,987 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 17:54:04,003 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-06 17:54:04,030 INFO sqlalchemy.engine.base.Engine INSERT INTO "Customer" ("IDCust", "Name", "Surname", "Adress", "City", "Phone", "Budget", "Office") VALUES (%(IDCust)s, %(Name)s, %(Surname)s, %(Adress)s, %(City)s, %(Phone)s, %(Budget)s, %(Office)s)

2017-09-06 17:54:04,035 INFO sqlalchemy.engine.base.Engine ({'City': 'Babirik', 'Surname': 'Gozney', 'Name': 'Enos', 'Office': 'potenti', 'IDCust': 1, 'Budget': 51059.72, 'Phone': '62-(477)447-6111', 'Adress': '25791 Thierer Lane'}, {'City': 'Jiaowei', 'Surname': 'Gale', 'Name': 'Saundra', 'Office': 'cras', 'IDCust': 2, 'Budget': 72669.0, 'Phone': '86-(911)905-6149', 'Adress': '47 Dunning Crossing'}, {'City': 'Beregovoy', 'Surname': 'Labbett', 'Name': 'Grethel', 'Office': 'nunc', 'IDCust': 3, 'Budget': 12551.79, 'Phone': '7-(813)507-8524', 'Adress': '8844 Mitchell Drive'}, {'City': 'Young', 'Surname': 'Gayther', 'Name': 'Jedidiah', 'Office': 'vestibulum', 'IDCust': 4, 'Budget': 68349.68, 'Phone': '598-(762)860-2698', 'Adress': '5 Arrowood Center'}, {'City': 'Barroso', 'Surname': 'McKimmie', 'Name': 'Eleonora', 'Office': 'ut', 'IDCust': 5, 'Budget': 56635.63, 'Phone': '55-(410)522-9669', 'Adress': '0 Roxbury Junction'}, {'City': 'Barranqueras', 'Surname': 'Kybird', 'Name': 'Pearce', 'Office': 'aliquam', 'IDCust': 6, 'Budget': 77835.4, 'Phone': '54-(975)404-2824', 'Adress': '1955 Talmadge Plaza'}, {'City': 'Bazar-Korgon', 'Surname': 'Hylden', 'Name': 'Daisy', 'Office': 'vel', 'IDCust': 7, 'Budget': 68078.71, 'Phone': '996-(578)844-2440', 'Adress': '8318 Paget Parkway'}, {'City': 'Pedro Garc\xc3\xada', 'Surname': 'Brixey', 'Name': 'Charmian', 'Office': 'metus', 'IDCust': 8, 'Budget': 28787.29, 'Phone': '1-(570)523-8177', 'Adress': '697 Arapahoe Junction'}  ... displaying 10 of 1000 total bound parameter sets ...  {'City': 'Huangqiang', 'Surname': 'St. Leger', 'Name': 'Fred', 'Office': 'maecenas', 'IDCust': 999, 'Budget': 62639.82, 'Phone': '86-(175)966-3186', 'Adress': '75 Killdeer Pass'}, {'City': 'Phitsanulok', 'Surname': 'Abramsky', 'Name': 'Abbie', 'Office': 'suspendisse', 'IDCust': 1000, 'Budget': 89457.75, 'Phone': '66-(192)540-1362', 'Adress': '90 Northview Avenue'})
2017-09-06 17:54:04,252 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 17:54:04,264 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-06 17:54:04,265 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-06 17:54:04,290 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 17:54:04,291 INFO sqlalchemy.engine.base.Engine {'name': u'Agenda'}
2017-09-06 17:54:04,296 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 17:54:04,297 INFO sqlalchemy.engine.base.Engine {'name': u'Agenda'}
2017-09-06 17:54:04,302 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-06 17:54:04,303 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-06 17:54:04,306 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in ('r', 'v', 'm', 'f')

2017-09-06 17:54:04,307 INFO sqlalchemy.engine.base.Engine {'table_name': u'Agenda'}
2017-09-06 17:54:04,313 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid
            FROM pg_catalog.pg_attribute a
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2017-09-06 17:54:04,315 INFO sqlalchemy.engine.base.Engine {'table_oid': 49499}
2017-09-06 17:54:04,317 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2017-09-06 17:54:04,319 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:54:04,324 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2017-09-06 17:54:04,326 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:54:04,330 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2017-09-06 17:54:04,332 INFO sqlalchemy.engine.base.Engine {'table_oid': 49499}
2017-09-06 17:54:04,335 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2017-09-06 17:54:04,336 INFO sqlalchemy.engine.base.Engine {'table_oid': 49499}
2017-09-06 17:54:04,338 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2017-09-06 17:54:04,340 INFO sqlalchemy.engine.base.Engine {'table': 49499}
2017-09-06 17:54:04,343 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2017-09-06 17:54:04,345 INFO sqlalchemy.engine.base.Engine {'table_oid': 49499}

2017-09-06 17:54:04,349 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2017-09-06 17:54:04,350 INFO sqlalchemy.engine.base.Engine {'table_oid': 49499}
2017-09-06 17:54:04,352 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.consrc as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2017-09-06 17:54:04,353 INFO sqlalchemy.engine.base.Engine {'table_oid': 49499}
2017-09-06 17:54:04,356 INFO sqlalchemy.engine.base.Engine
DROP TABLE "Agenda"
2017-09-06 17:54:04,357 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:54:04,359 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 17:54:04,376 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Agenda" (
	"IDAgenda" BIGINT,
	"Date" TEXT,
	"Hour" BIGINT,
	"Duration" FLOAT(53),
	"ClientName" TEXT
)


2017-09-06 17:54:04,377 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:54:04,411 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 17:54:04,429 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_Agenda_IDAgenda" ON "Agenda" ("IDAgenda")
2017-09-06 17:54:04,430 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:54:04,466 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 17:54:04,486 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-06 17:54:04,504 INFO sqlalchemy.engine.base.Engine INSERT INTO "Agenda" ("IDAgenda", "Date", "Hour", "Duration", "ClientName") VALUES (%(IDAgenda)s, %(Date)s, %(Hour)s, %(Duration)s, %(ClientName)s)
2017-09-06 17:54:04,508 INFO sqlalchemy.engine.base.Engine ({'Date': '7/30/2017', 'Duration': 80.33, 'ClientName': 'Beverie', 'Hour': 74, 'IDAgenda': 1}, {'Date': '9/6/2016', 'Duration': 21.53, 'ClientName': 'Engelbert', 'Hour': 15, 'IDAgenda': 2}, {'Date': '12/17/2016', 'Duration': 39.66, 'ClientName': 'Leonhard', 'Hour': 44, 'IDAgenda': 3}, {'Date': '9/19/2016', 'Duration': 77.34, 'ClientName': 'Ermanno', 'Hour': 46, 'IDAgenda': 4}, {'Date': '11/16/2016', 'Duration': 79.48, 'ClientName': 'Heidie', 'Hour': 50, 'IDAgenda': 5}, {'Date': '12/1/2016', 'Duration': 66.92, 'ClientName': 'Alisha', 'Hour': 48, 'IDAgenda': 6}, {'Date': '1/24/2017', 'Duration': 46.23, 'ClientName': 'Tabbitha', 'Hour': 37, 'IDAgenda': 7}, {'Date': '5/26/2017', 'Duration': 18.03, 'ClientName': 'Emily', 'Hour': 83, 'IDAgenda': 8}  ... displaying 10 of 1000 total bound parameter sets ...  {'Date': '8/26/2017', 'Duration': 38.91, 'ClientName': 'Norah', 'Hour': 16, 'IDAgenda': 999}, {'Date': '1/1/2017', 'Duration': 54.44, 'ClientName': 'Hettie', 'Hour': 98, 'IDAgenda': 1000})
2017-09-06 17:54:04,716 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 17:54:04,732 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-06 17:54:04,735 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-06 17:54:04,776 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 17:54:04,777 INFO sqlalchemy.engine.base.Engine {'name': u'Sale'}
2017-09-06 17:54:04,781 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 17:54:04,783 INFO sqlalchemy.engine.base.Engine {'name': u'Sale'}
2017-09-06 17:54:04,787 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-06 17:54:04,789 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-06 17:54:04,792 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in ('r', 'v', 'm', 'f')

2017-09-06 17:54:04,793 INFO sqlalchemy.engine.base.Engine {'table_name': u'Sale'}
2017-09-06 17:54:04,796 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid
            FROM pg_catalog.pg_attribute a
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2017-09-06 17:54:04,797 INFO sqlalchemy.engine.base.Engine {'table_oid': 49506}
2017-09-06 17:54:04,805 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2017-09-06 17:54:04,808 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:54:04,811 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2017-09-06 17:54:04,812 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:54:04,816 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2017-09-06 17:54:04,817 INFO sqlalchemy.engine.base.Engine {'table_oid': 49506}
2017-09-06 17:54:04,823 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2017-09-06 17:54:04,827 INFO sqlalchemy.engine.base.Engine {'table_oid': 49506}
2017-09-06 17:54:04,830 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2017-09-06 17:54:04,831 INFO sqlalchemy.engine.base.Engine {'table': 49506}
2017-09-06 17:54:04,834 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2017-09-06 17:54:04,835 INFO sqlalchemy.engine.base.Engine {'table_oid': 49506}
2017-09-06 17:54:04,839 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2017-09-06 17:54:04,840 INFO sqlalchemy.engine.base.Engine {'table_oid': 49506}
2017-09-06 17:54:04,843 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.consrc as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2017-09-06 17:54:04,844 INFO sqlalchemy.engine.base.Engine {'table_oid': 49506}
2017-09-06 17:54:04,846 INFO sqlalchemy.engine.base.Engine
DROP TABLE "Sale"
2017-09-06 17:54:04,847 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:54:04,850 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 17:54:04,867 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Sale" (
	"IDSale" BIGINT,
	"Date" TEXT,
	"AgreedPrice" FLOAT(53),
	"Price" FLOAT(53),
	"Status" TEXT,
	"Time" TEXT
)


2017-09-06 17:54:04,868 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:54:04,901 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 17:54:04,910 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_Sale_IDSale" ON "Sale" ("IDSale")
2017-09-06 17:54:04,911 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:54:04,946 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 17:54:04,956 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-06 17:54:04,982 INFO sqlalchemy.engine.base.Engine INSERT INTO "Sale" ("IDSale", "Date", "AgreedPrice", "Price", "Status", "Time") VALUES (%(IDSale)s, %(Date)s, %(AgreedPrice)s, %(Price)s, %(Status)s, %(Time)s)
2017-09-06 17:54:04,985 INFO sqlalchemy.engine.base.Engine ({'Status': 'erat', 'IDSale': 1, 'Price': 48.56, 'AgreedPrice': 99.11, 'Time': '4:55 AM', 'Date': '7/4/2017'}, {'Status': 'ultrices', 'IDSale': 2, 'Price': 62.21, 'AgreedPrice': 92.48, 'Time': '3:29 AM', 'Date': '12/17/2016'}, {'Status': 'integer', 'IDSale': 3, 'Price': 53.87, 'AgreedPrice': 69.94, 'Time': '6:37 AM', 'Date': '11/11/2016'}, {'Status': 'massa', 'IDSale': 4, 'Price': 72.49, 'AgreedPrice': 4.89, 'Time': '7:26 AM', 'Date': '6/19/2017'}, {'Status': 'quisque', 'IDSale': 5, 'Price': 70.53, 'AgreedPrice': 3.32, 'Time': '1:07 PM', 'Date': '3/31/2017'}, {'Status': 'odio', 'IDSale': 6, 'Price': 13.42, 'AgreedPrice': 64.84, 'Time': '1:46 PM', 'Date': '9/13/2016'}, {'Status': 'sed', 'IDSale': 7, 'Price': 2.47, 'AgreedPrice': 37.61, 'Time': '10:36 PM', 'Date': '4/4/2017'}, {'Status': 'primis', 'IDSale': 8, 'Price': 69.61, 'AgreedPrice': 61.46, 'Time': '11:37 PM', 'Date': '10/16/2016'}  ... displaying 10 of 1000 total bound parameter sets ...  {'Status': 'platea', 'IDSale': 999, 'Price': 19.56, 'AgreedPrice': 16.92, 'Time': '3:40 AM', 'Date': '12/25/2016'}, {'Status': 'sem', 'IDSale': 1000, 'Price': 84.4, 'AgreedPrice': 50.55, 'Time': '10:16 PM', 'Date': '6/22/2017'})
2017-09-06 17:54:05,241 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 17:54:05,280 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-06 17:54:05,281 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-06 17:54:05,303 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 17:54:05,304 INFO sqlalchemy.engine.base.Engine {'name': u'Visit'}
2017-09-06 17:54:05,312 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 17:54:05,313 INFO sqlalchemy.engine.base.Engine {'name': u'Visit'}
2017-09-06 17:54:05,319 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-06 17:54:05,320 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-06 17:54:05,325 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in ('r', 'v', 'm', 'f')

2017-09-06 17:54:05,328 INFO sqlalchemy.engine.base.Engine {'table_name': u'Visit'}
2017-09-06 17:54:05,337 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid
            FROM pg_catalog.pg_attribute a
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2017-09-06 17:54:05,338 INFO sqlalchemy.engine.base.Engine {'table_oid': 49513}
2017-09-06 17:54:05,340 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2017-09-06 17:54:05,341 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:54:05,344 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2017-09-06 17:54:05,345 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:54:05,348 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2017-09-06 17:54:05,349 INFO sqlalchemy.engine.base.Engine {'table_oid': 49513}
2017-09-06 17:54:05,351 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2017-09-06 17:54:05,352 INFO sqlalchemy.engine.base.Engine {'table_oid': 49513}
2017-09-06 17:54:05,355 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2017-09-06 17:54:05,356 INFO sqlalchemy.engine.base.Engine {'table': 49513}
2017-09-06 17:54:05,359 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2017-09-06 17:54:05,360 INFO sqlalchemy.engine.base.Engine {'table_oid': 49513}
2017-09-06 17:54:05,364 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2017-09-06 17:54:05,365 INFO sqlalchemy.engine.base.Engine {'table_oid': 49513}
2017-09-06 17:54:05,368 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.consrc as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2017-09-06 17:54:05,369 INFO sqlalchemy.engine.base.Engine {'table_oid': 49513}
2017-09-06 17:54:05,372 INFO sqlalchemy.engine.base.Engine
DROP TABLE "Visit"
2017-09-06 17:54:05,373 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:54:05,375 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 17:54:05,381 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Visit" (
	"IDVisit" BIGINT,
	"Date" TEXT,
	"Duration" FLOAT(53)
)


2017-09-06 17:54:05,382 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:54:05,424 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 17:54:05,435 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_Visit_IDVisit" ON "Visit" ("IDVisit")
2017-09-06 17:54:05,436 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:54:05,469 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 17:54:05,481 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-06 17:54:05,496 INFO sqlalchemy.engine.base.Engine INSERT INTO "Visit" ("IDVisit", "Date", "Duration") VALUES (%(IDVisit)s, %(Date)s, %(Duration)s)
2017-09-06 17:54:05,503 INFO sqlalchemy.engine.base.Engine ({'Duration': 85.6, 'Date': '1/21/2017', 'IDVisit': 1}, {'Duration': 94.5, 'Date': '8/28/2017', 'IDVisit': 2}, {'Duration': 31.4, 'Date': '4/23/2017', 'IDVisit': 3}, {'Duration': 14.9, 'Date': '1/15/2017', 'IDVisit': 4}, {'Duration': 94.1, 'Date': '2/4/2017', 'IDVisit': 5}, {'Duration': 14.7, 'Date': '10/24/2016', 'IDVisit': 6}, {'Duration': 39.3, 'Date': '10/18/2016', 'IDVisit': 7}, {'Duration': 55.7, 'Date': '8/8/2017', 'IDVisit': 8}  ... displaying 10 of 1000 total bound parameter sets ...  {'Duration': 84.7, 'Date': '3/22/2017', 'IDVisit': 999}, {'Duration': 83.9, 'Date': '10/25/2016', 'IDVisit': 1000})
2017-09-06 17:54:05,691 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 17:54:05,762 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-06 17:54:05,764 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-06 17:54:05,829 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 17:54:05,830 INFO sqlalchemy.engine.base.Engine {'name': u'Estate'}
2017-09-06 17:54:05,837 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 17:54:05,839 INFO sqlalchemy.engine.base.Engine {'name': u'Estate'}
2017-09-06 17:54:05,846 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-06 17:54:05,847 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-06 17:54:05,852 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in ('r', 'v', 'm', 'f')

2017-09-06 17:54:05,855 INFO sqlalchemy.engine.base.Engine {'table_name': u'Estate'}
2017-09-06 17:54:05,860 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid
            FROM pg_catalog.pg_attribute a
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2017-09-06 17:54:05,867 INFO sqlalchemy.engine.base.Engine {'table_oid': 49605}
2017-09-06 17:54:05,869 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2017-09-06 17:54:05,871 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:54:05,873 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2017-09-06 17:54:05,875 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:54:05,879 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2017-09-06 17:54:05,883 INFO sqlalchemy.engine.base.Engine {'table_oid': 49605}

2017-09-06 17:54:05,886 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2017-09-06 17:54:05,887 INFO sqlalchemy.engine.base.Engine {'table_oid': 49605}
2017-09-06 17:54:05,889 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2017-09-06 17:54:05,891 INFO sqlalchemy.engine.base.Engine {'table': 49605}
2017-09-06 17:54:05,893 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2017-09-06 17:54:05,894 INFO sqlalchemy.engine.base.Engine {'table_oid': 49605}
2017-09-06 17:54:05,898 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2017-09-06 17:54:05,899 INFO sqlalchemy.engine.base.Engine {'table_oid': 49605}
2017-09-06 17:54:05,902 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.consrc as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2017-09-06 17:54:05,903 INFO sqlalchemy.engine.base.Engine {'table_oid': 49605}
2017-09-06 17:54:05,905 INFO sqlalchemy.engine.base.Engine
DROP TABLE "Estate"
2017-09-06 17:54:05,906 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:54:05,909 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 17:54:05,921 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Estate" (
	"IDEstate" BIGINT,
	"Category" TEXT,
	"Area" TEXT,
	"City" TEXT,
	"Province" TEXT,
	"Rooms" BIGINT,
	"Bedrooms" BIGINT,
	"Garage" BOOLEAN,
	"Meters" FLOAT(53)
)


2017-09-06 17:54:05,923 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:54:05,959 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 17:54:05,973 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_Estate_IDEstate" ON "Estate" ("IDEstate")
2017-09-06 17:54:05,974 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:54:06,032 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 17:54:06,053 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-06 17:54:06,103 INFO sqlalchemy.engine.base.Engine INSERT INTO "Estate" ("IDEstate", "Category", "Area", "City", "Province", "Rooms", "Bedrooms", "Garage", "Meters") VALUES (%(IDEstate)s, %(Category)s, %(Area)s, %(City)s, %(Province)s, %(Rooms)s, %(Bedrooms)s, %(Garage)s, %(Meters)s)
2017-09-06 17:54:06,105 INFO sqlalchemy.engine.base.Engine ({'Category': 'chacra', 'Province': 'Kentucky', 'City': 'Lexington', 'Bedrooms': 2, 'Garage': False, 'Meters': 25.4, 'Rooms': 43, 'IDEstate': 1, 'Area': 'tempor'}, {'Category': 'casa', 'Province': 'New York', 'City': 'New York City', 'Bedrooms': 96, 'Garage': True, 'Meters': 96.9, 'Rooms': 90, 'IDEstate': 2, 'Area': 'lobortis'}, {'Category': 'chacra', 'Province': 'Texas', 'City': 'Houston', 'Bedrooms': 14, 'Garage': False, 'Meters': 20.3, 'Rooms': 41, 'IDEstate': 3, 'Area': 'consequat'}, {'Category': 'chacra', 'Province': 'California', 'City': 'Sacramento', 'Bedrooms': 2, 'Garage': False, 'Meters': 73.7, 'Rooms': 96, 'IDEstate': 4, 'Area': 'risus'}, {'Category': 'casa', 'Province': 'New York', 'City': 'New York City', 'Bedrooms': 67, 'Garage': True, 'Meters': 35.1, 'Rooms': 65, 'IDEstate': 5, 'Area': 'quam'}, {'Category': 'casa', 'Province': 'Alabama', 'City': 'Montgomery', 'Bedrooms': 12, 'Garage': False, 'Meters': 97.9, 'Rooms': 51, 'IDEstate': 6, 'Area': 'vel'}, {'Category': 'casa', 'Province': 'Massachusetts', 'City': 'Watertown', 'Bedrooms': 87, 'Garage': False, 'Meters': 54.1, 'Rooms': 82, 'IDEstate': 7, 'Area': 'lectus'}, {'Category': 'casa', 'Province': 'Illinois', 'City': 'Chicago', 'Bedrooms': 87, 'Garage': True, 'Meters': 90.6, 'Rooms': 76, 'IDEstate': 8, 'Area': 'ut'}  ... displaying 10 of 1000 total bound parameter sets ...  {'Category': 'casa', 'Province': 'Missouri', 'City': 'Springfield', 'Bedrooms': 61, 'Garage': True, 'Meters': 11.7, 'Rooms': 45, 'IDEstate': 999, 'Area': 'nec'}, {'Category': 'piso', 'Province': 'Florida', 'City': 'Fort Lauderdale', 'Bedrooms': 86, 'Garage': False, 'Meters': 13.4, 'Rooms': 42, 'IDEstate': 1000, 'Area': 'ut'})
2017-09-06 17:54:06,339 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 17:54:06,388 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-06 17:54:06,389 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-06 17:54:06,404 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 17:54:06,405 INFO sqlalchemy.engine.base.Engine {'name': u'HechoInmobiliaria'}
2017-09-06 17:54:06,410 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 17:54:06,412 INFO sqlalchemy.engine.base.Engine {'name': u'HechoInmobiliaria'}
2017-09-06 17:54:06,414 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-06 17:54:06,416 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-06 17:54:06,422 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in ('r', 'v', 'm', 'f')

2017-09-06 17:54:06,423 INFO sqlalchemy.engine.base.Engine {'table_name': u'HechoInmobiliaria'}
2017-09-06 17:54:06,426 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid
            FROM pg_catalog.pg_attribute a
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2017-09-06 17:54:06,427 INFO sqlalchemy.engine.base.Engine {'table_oid': 49527}
2017-09-06 17:54:06,429 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2017-09-06 17:54:06,431 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:54:06,437 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2017-09-06 17:54:06,441 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:54:06,446 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2017-09-06 17:54:06,447 INFO sqlalchemy.engine.base.Engine {'table_oid': 49527}
2017-09-06 17:54:06,452 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2017-09-06 17:54:06,453 INFO sqlalchemy.engine.base.Engine {'table_oid': 49527}
2017-09-06 17:54:06,456 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2017-09-06 17:54:06,457 INFO sqlalchemy.engine.base.Engine {'table': 49527}
2017-09-06 17:54:06,460 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2017-09-06 17:54:06,461 INFO sqlalchemy.engine.base.Engine {'table_oid': 49527}
2017-09-06 17:54:06,465 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2017-09-06 17:54:06,466 INFO sqlalchemy.engine.base.Engine {'table_oid': 49527}
2017-09-06 17:54:06,469 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.consrc as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2017-09-06 17:54:06,470 INFO sqlalchemy.engine.base.Engine {'table_oid': 49527}
2017-09-06 17:54:06,473 INFO sqlalchemy.engine.base.Engine
DROP TABLE "HechoInmobiliaria"
2017-09-06 17:54:06,474 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:54:06,476 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 17:54:06,489 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "HechoInmobiliaria" (
	"IDHecho" BIGINT,
	"IDEstate" BIGINT,
	"IDCust" BIGINT,
	"IDVisit" BIGINT,
	"IDSale" BIGINT,
	"IDAgenda" BIGINT,
	"Date" TEXT
)


2017-09-06 17:54:06,490 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:54:06,528 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 17:54:06,543 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_HechoInmobiliaria_IDHecho" ON "HechoInmobiliaria" ("IDHecho")
2017-09-06 17:54:06,544 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 17:54:06,584 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 17:54:06,600 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-06 17:54:06,628 INFO sqlalchemy.engine.base.Engine INSERT INTO "HechoInmobiliaria" ("IDHecho", "IDEstate", "IDCust", "IDVisit", "IDSale", "IDAgenda", "Date") VALUES (%(IDHecho)s, %(IDEstate)s, %(IDCust)s, %(IDVisit)s, %(IDSale)s, %(IDAgenda)s, %(Date)s)
2017-09-06 17:54:06,629 INFO sqlalchemy.engine.base.Engine ({'IDSale': 104, 'IDHecho': 1, 'IDCust': 96, 'IDVisit': 800, 'IDAgenda': 958, 'Date': '5/27/2012', 'IDEstate': 137}, {'IDSale': 30, 'IDHecho': 2, 'IDCust': 185, 'IDVisit': 598, 'IDAgenda': 311, 'Date': '2/12/2007', 'IDEstate': 233}, {'IDSale': 323, 'IDHecho': 3, 'IDCust': 229, 'IDVisit': 60, 'IDAgenda': 980, 'Date': '7/25/2013', 'IDEstate': 329}, {'IDSale': 509, 'IDHecho': 4, 'IDCust': 996, 'IDVisit': 95, 'IDAgenda': 800, 'Date': '9/7/2015', 'IDEstate': 672}, {'IDSale': 111, 'IDHecho': 5, 'IDCust': 811, 'IDVisit': 801, 'IDAgenda': 786, 'Date': '12/5/2008', 'IDEstate': 134}, {'IDSale': 868, 'IDHecho': 6, 'IDCust': 783, 'IDVisit': 303, 'IDAgenda': 872, 'Date': '1/7/2014', 'IDEstate': 865}, {'IDSale': 105, 'IDHecho': 7, 'IDCust': 568, 'IDVisit': 909, 'IDAgenda': 784, 'Date': '7/18/2014', 'IDEstate': 214}, {'IDSale': 905, 'IDHecho': 8, 'IDCust': 724, 'IDVisit': 93, 'IDAgenda': 709, 'Date': '5/1/2016', 'IDEstate': 658}  ... displaying 10 of 1000 total bound parameter sets ...  {'IDSale': 344, 'IDHecho': 999, 'IDCust': 117, 'IDVisit': 18, 'IDAgenda': 480, 'Date': '8/8/2009', 'IDEstate': 362}, {'IDSale': 979, 'IDHecho': 1000, 'IDCust': 671, 'IDVisit': 410, 'IDAgenda': 543, 'Date': '1/10/2010', 'IDEstate': 170})
2017-09-06 17:54:06,839 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 17:54:06,879 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-06 17:54:06,881 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}

# Consultas

### 1- ¿Que tipo de propiedad se vendio por el precio mas alto con respecto a cada ciudad y meses?

In [12]:
def get_propiedad_precio_ciudad_mes():
   
    string_sql = """
    select hi."IDHecho",hi."IDSale", hi."IDEstate", s."AgreedPrice", e."City", s."Date" from "HechoInmobiliaria" as hi 
    join "Sale" as s on hi."IDSale" = s."IDSale" 
    join "Estate" as e on hi."IDEstate" = e."IDEstate" 
    order by e."City" asc, s."AgreedPrice" desc limit 20;
    """
    resultado  = pd.read_sql(string_sql, engine)
    return resultado

get_propiedad_precio_ciudad_mes()

2017-09-06 18:06:43,611 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 18:06:43,620 INFO sqlalchemy.engine.base.Engine {'name': u'\n    select hi."IDHecho",hi."IDSale", hi."IDEstate", s."AgreedPrice", e."City", s."Date" from "HechoInmobiliaria" as hi \n    join "Sale" as s on hi."IDSale" = s."IDSale" \n    join "Estate" as e on hi."IDEstate" = e."IDEstate" \n    order by e."City" asc, s."AgreedPrice" desc limit 20;\n    '}
2017-09-06 18:06:43,625 INFO sqlalchemy.engine.base.Engine
    select hi."IDHecho",hi."IDSale", hi."IDEstate", s."AgreedPrice", e."City", s."Date" from "HechoInmobiliaria" as hi
    join "Sale" as s on hi."IDSale" = s."IDSale"
    join "Estate" as e on hi."IDEstate" = e."IDEstate"
    order by e."City" asc, s."AgreedPrice" desc limit 20;

2017-09-06 18:06:43,627 INFO sqlalchemy.engine.base.Engine {}

    IDHecho  IDSale  IDEstate  AgreedPrice         City        Date
0       288     497       958        81.59      Abilene   9/12/2016
1       895      56       853        58.13        Aiken  11/27/2016
2       224     841       853         2.18        Aiken   12/5/2016
3       776     761       387        21.47        Akron    9/1/2017
4       245     355       767        81.89       Albany    8/8/2017
5       466     782       725        64.93       Albany   1/20/2017
6        24     940       725        19.68       Albany   2/20/2017
7       377     742       725        16.66       Albany  12/20/2016
8       943     314        94        15.91       Albany  12/20/2016
9       361     587       317        81.10  Albuquerque   1/11/2017
10      354     313       996        75.77  Albuquerque    6/7/2017
11       67     629       711        58.26  Albuquerque   10/7/2016
12      459     142       317        36.69  Albuquerque   4/20/2017
13      794      27       711         7.01  Albuquerque   5/30/2017
14      317      19       330        94.44   Alexandria   4/14/2017
15      447     359       430        92.76   Alexandria  12/11/2016
16      735     311       567        90.58   Alexandria    2/4/2017
17      879     311       567        90.58   Alexandria    2/4/2017
18      576     707       397        57.40   Alexandria   5/30/2017
19      295     653       861        59.59     Amarillo   3/29/2017

### 2- ¿Quien ha comprado un piso con el precio mas alto con respecto a cada mes?

In [11]:
def get_propiedad_precio_alto_mes():
   
    string_sql = """
    select hi."IDHecho",hi."IDSale", c."IDCust", concat(c."Name",' ',c."Surname") as nombre, s."AgreedPrice", s."Date", e."City" from "HechoInmobiliaria" as hi 
    join "Sale" as s on hi."IDSale" = s."IDSale" 
    join "Estate" as e on hi."IDEstate" = e."IDEstate" 
    join "Customer" as c on hi."IDCust" = c."IDCust" and 
        e."Category" = 'piso'
    order by s."Date" asc, s."AgreedPrice" desc limit 20;
    """
    resultado  = pd.read_sql(string_sql, engine)
    return resultado

get_propiedad_precio_alto_mes()

2017-09-06 17:55:35,144 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 17:55:35,150 INFO sqlalchemy.engine.base.Engine {'name': u'\n    select hi."IDHecho",hi."IDSale", c."IDCust", concat(c."Name",\' \',c."Surname") as nombre, s."AgreedPrice", s."Date", e."City" from "HechoInmo ... (132 characters truncated) ... in "Customer" as c on hi."IDCust" = c."IDCust" and \n        e."Category" = \'piso\'\n    order by s."Date" asc, s."AgreedPrice" desc limit 20;\n    '}
2017-09-06 17:55:35,164 INFO sqlalchemy.engine.base.Engine
    select hi."IDHecho",hi."IDSale", c."IDCust", concat(c."Name",' ',c."Surname") as nombre, s."AgreedPrice", s."Date", e."City" from "HechoInmobiliaria" as hi
    join "Sale" as s on hi."IDSale" = s."IDSale"
    join "Estate" as e on hi."IDEstate" = e."IDEstate"
    join "Customer" as c on hi."IDCust" = c."IDCust" and
        e."Category" = 'piso'
    order by s."Date" asc, s."AgreedPrice" desc limit 20;

2017-09-06 17:55:35,166 INFO sqlalchemy.engine.base.Engine {}

,IDHecho,IDSale,IDCust,nombre,AgreedPrice,Date,City
0,111,319,795,Ripley Lorans,38.41,10/10/2016,Silver Spring
1,755,319,516,Estrellita Harmstone,38.41,10/10/2016,Lansing
2,163,494,784,Mady Batman,72.53,10/1/2016,Lexington
3,810,494,413,Sam Clear,72.53,10/1/2016,Las Vegas
4,421,649,993,Guinevere Oade,61.46,10/12/2016,Birmingham
5,681,627,984,Frederico Ives,8.56,10/12/2016,Lancaster
6,831,193,76,Adora Larrett,95.26,10/15/2016,Tacoma
7,46,579,732,Avictor Eite,48.22,10/16/2016,Miami
8,563,235,621,Arty Innerstone,39.95,10/16/2016,Irvine
9,155,235,228,Maddy Honywill,39.95,10/16/2016,Seattle
10,173,654,821,Maurizia Harriskine,20.32,10/17/2016,Santa Monica
11,512,48,61,Marcie Kiera,54.22,10/18/2016,Omaha
12,768,48,472,Lacie Boater,54.22,10/18/2016,Omaha
13,420,339,468,Hyacinth Varren,50.17,10/19/2016,Irvine
14,148,348,272,Erastus Hairsnape,93.24,10/21/2016,Omaha
15,230,93,878,Hayyim Rawne,71.69,10/21/2016,Austin
16,518,953,833,Georgianna Moulding,45.73,10/2/2016,New Haven
17,903,646,385,Burtie Oosthout de Vree,43.57,10/23/2016,Redwood City
18,952,611,385,Burtie Oosthout de Vree,24.70,10/25/2016,Dallas
19,594,421,483,Flora Spackman,91.28,10/26/2016,Atlanta

### 3- ¿Cual es la duracion media de visitas en las propiedades de cada categorıa?

In [10]:
def get_tiempo_prom_visitas_x_cat():
   
    string_sql = """
    select e."Category", sum(v."Duration")as tiempo_total, 
    (select count(*) from "Estate" as eee where eee."Category" = e."Category" limit 1) as cant_visitas,
    (sum(v."Duration")/(select count(*) from "Estate" as ee where ee."Category" = e."Category" limit 1)) as Promedio 
    from "HechoInmobiliaria" as hi 
    join "Visit" as v on hi."IDVisit" = v."IDVisit" 
    join "Estate" as e on hi."IDEstate" = e."IDEstate" 
    group by e."Category" order by e."Category" asc;
    """
    resultado  = pd.read_sql(string_sql, engine)
    return resultado

get_tiempo_prom_visitas_x_cat()

2017-09-06 17:54:07,109 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 17:54:07,110 INFO sqlalchemy.engine.base.Engine {'name': u'\n    select e."Category", sum(v."Duration")as tiempo_total, \n    (select count(*) from "Estate" as eee where eee."Category" = e."Category" limit 1 ... (196 characters truncated) ... v on hi."IDVisit" = v."IDVisit" \n    join "Estate" as e on hi."IDEstate" = e."IDEstate" \n    group by e."Category" order by e."Category" asc;\n    '}
2017-09-06 17:54:07,113 INFO sqlalchemy.engine.base.Engine
    select e."Category", sum(v."Duration")as tiempo_total,
    (select count(*) from "Estate" as eee where eee."Category" = e."Category" limit 1) as cant_visitas,
    (sum(v."Duration")/(select count(*) from "Estate" as ee where ee."Category" = e."Category" limit 1)) as Promedio
    from "HechoInmobiliaria" as hi
    join "Visit" as v on hi."IDVisit" = v."IDVisit"
    join "Estate" as e on hi."IDEstate" = e."IDEstate"
    group by e."Category" order by e."Category" asc;

2017-09-06 17:54:07,114 INFO sqlalchemy.engine.base.Engine {}

       Category  tiempo_total  cant_visitas   promedio
0          casa       14100.2           268  52.612687
1        chacra       13710.5           249  55.062249
2  departamento       12007.9           240  50.032917
3          piso       13346.4           243  54.923457